<div data-role="view" data-title="About" data-model="app.contentService.viewModel" class="" data-init="init_about_us">

    <div class="hero">ABOUT US</div>

    <ul id="about-content" class="mobile-content km-widget km-listview km-list">


    </ul>

</div>

<!--method 1-->
<script type="text/x-kendo-template" id="aboutTemplate">

    <li>#= body #</li>

</script>



<script type="text/javascript">

    function init_about_us() {
        app.contentService.viewModel.getMobileContent(1452, "aboutTemplate", "about-content")
    }



</script>


<style>
    .hero {
        display: block;
        margin: 0;
        padding-left: .5em;
        height: 110px;
        line-height: 110px;
        font-size: 18px;
        color: rgba(255,255,255,.85);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
        background: url(images/header/5.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }

    .mobile-content{
        margin: 15px 0 10px;
    }



    

</style>