<div data-role="view" data-title="About" data-model="app.checkoutService.viewModel" class="" data-init="init_about_us">

    <div class="hero">ABOUT US</div>

    <ul id="_content1">


    </ul>

    <ul id="about-listview"></ul>




    <div id="_content2"></div>

    <div id="_content3"></div>

    <div id="_content4"></div>

</div>

<!--method 1-->
<script type="text/x-kendo-template" id="myTemplate1">

    <h4 class="km-bold">${title}</h4>
    <p class="job-title">${body}</p>

</script>


<!--method 2-->
<script type="text/x-kendo-template" id="myTemplate2">

    <li>#: data.node.body # </li>

</script>

<!--method 3-->
<script type="text/x-kendo-template" id="myTemplate3">

    <ul>
        # for (var i = 0; i < data.length; i++) { #
        <li>#= data[i].nid #</li>
        # } #
    </ul>

</script>

<!--method 4-->
<script type="text/x-kendo-template" id="myTemplate4">

    <ul>
        # for (var i = 0; i < data.length; i++) { #
            <li>#= data[i].node.nid #</li>
        # } #
    </ul>

</script>

<script type="text/javascript">

    function init_about_us(){
        app.contentService.viewModel.getMobileContent(1452, "aboutTemplate", "about-content");
    }

</script>


<style>
    .hero {
        display: block;
        margin: 0;
        padding-left: .5em;
        height: 110px;
        line-height: 110px;
        font-size: 18px;
        color: rgba(255,255,255,.85);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
        background: url(images/header/5.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }

   

    

</style>