<div data-role="view" data-title="About" data-model="APP.models.settings" class="content-bg-green">


    <div class="hero">ABOUT US</div>

    <h1 data-bind="html: title" class="jt-center"></h1>

    <ul id="menu-items" class="additional-icons " data-role="listview" >
        <div class="round-widget-wrapper jt-center">
            <a href="#views/home.html" class="round-widget">
                <div class="widget-icon">
                    <span class="km-icon km-home"></span>
                </div>
                <div class="widget-text">Home</div>
            </a>
            <a href="#views/home.html" class="round-widget">
                <div class="widget-icon">
                    <span class="km-icon km-home"></span>
                </div>
                <div class="widget-text">Home</div>
            </a>
            <a href="#views/home.html" class="round-widget">
                <div class="widget-icon">
                    <span class="km-icon km-home"></span>
                </div>
                <div class="widget-text">Home</div>
            </a>
        </div>

        <div class="round-widget-wrapper jt-center">
            <a href="#views/home.html" class="round-widget">
                <div class="widget-icon">
                    <span class="km-icon km-home"></span>
                </div>
                <div class="widget-text">Home</div>
            </a>
            <a href="#views/home.html" class="round-widget">
                <div class="widget-icon">
                    <span class="km-icon km-home"></span>
                </div>
                <div class="widget-text">Home</div>
            </a>
            <a href="#views/home.html" class="round-widget">
                <div class="widget-icon">
                    <span class="km-icon km-home"></span>
                </div>
                <div class="widget-text">Home</div>
            </a>
        </div>
    </ul>


</div>

<style>
    .hero {
        display: block;
        margin: 0;
        padding-left: .5em;
        height: 110px;
        line-height: 110px;
        font-size: 18px;
        color: rgba(255,255,255,.85);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
        background: url(images/header/5.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }

    /*.round-widget-wrapper{
        display: block;
        overflow: hidden;
        margin: 10px auto;
    }

    .round-widget .widget-icon {
        width: 70px;
        height: 70px;
        border: 2px solid #bbb;
        border-radius: 50%;
        line-height: 70px;
        /!*font-size: 25px;*!/
    }

    .round-widget .widget-text {
        /!*width: 70px;
        height: 70px;
        border: 1px solid;
        border-radius: 50%;
        line-height: 70px;
        font-size: 25px;*!/
    }

    a.round-widget {
        width: 70px;
        /!* height: 70px; *!/
        font-size: 15px;
        text-align: center;
        display: inline-table;
        overflow: hidden;
        margin: 10px;
        text-decoration: none;
        color: #fff;
    }
*/

    

</style>