<div id="collapsible-view" data-role="view"  data-title="Make Money" data-init="onInit" data-use-native-scrolling="true">

    <div class="hero">Make Money</div>
    <div class="thick-border-top-green"></div>
    <section id="collapsible-wrapper" >
        <div id="collapsible1" data-role="collapsible" data-collapse="collapseHandler" data-collapsed="false">
            <h2 class="classname">Referral Rewards</h2>
            <p>
                If you refer anybody to us, you can earn money. Any registered customer can be a referrer. Referring your friends and family member to us you can earn money which could be your extra source of income. So "Be a referrer and Earn money". Please register here now
            </p>
        </div>
        <div id="collapsible2" data-role="collapsible" data-collapse="collapseHandler" data-inset="true" style="height: auto">
            <h2 class="classname">How it works</h2>
            <p>
                When you register with us, our system generates a unique number for you which is called referral number.  If you refer any one to us, you need to pass that number to him/her. He/she will enter that number in the assigned specific field during the registration. When your referrer make any top up his/her account you automatically will get your commission.  Our system will track the record and preserve the information for your commission calculation.
            </p>
            <p> You will receive 5% commission on every top up amount life time by your recommended person.</p>
        </div>
        <div id="collapsible3" data-role="collapsible" data-collapse="collapseHandler">
            <h2 class="classname">What happen next</h2>
            <p>
                Justutalk authority will track and gather all the payment record made by your recommended person and calculate your commission. The authority will contact you time to time and inform you about your commission amount how you like to get your payment.
            </p>
            <p>
                You also will be able to view your commission details after logging in to your account.
            </p>
        </div>
        <div id="collapsible3" data-role="collapsible" data-collapse="collapseHandler">
            <h2 class="classname">How to monitor your reward earning</h2>
            <p>
                A fully transparent reward program management feature is available for you. You can be updated  about your Justutalk Reward account by log-in to your account or contacting to the sales department.
            </p>
        </div>
        <div id="collapsible3" data-role="collapsible" data-collapse="collapseHandler">
            <h2 class="classname">How to Claim your Reward</h2>
            <p>
                You have the option to withdraw your reward part or full in cash or use to recharge your own or your friend's Justutalk account. To claim your reward you need to contact to our accounts department by writing  to The Accounts Department, Unit 6, 5 Oakfield House, Oakfield Road, Ilford, IG11EF, United Kingdom. or by  E-mailing to: info@justutalk.net or you can do request directly from your account on user refarral section.
            </p>
        </div>
        <div id="collapsible3" data-role="collapsible" data-collapse="collapseHandler">
            <h2 class="classname">Condition</h2>
            <p>
                This is applicable if your referee is a new customer who never had an account with Justutalk calling service before. Users are eligible for the campaign if they have   never made a payment to Justutalk in the past. Justutalk reserves the right to reject or terminate the campaign at any time and for any reason, in Justutalk  sole discretion.
            </p>
        </div>
        <div id="collapsible3" data-role="collapsible" data-collapse="collapseHandler">
            <h2 class="classname">Inadmissibility conditions on receiving reward</h2>
            <p>Justutalk referral reward is inadmissible if: </p>
            <p>
                A referrer opens a new Justutalk account with his/her other telephone and/or cell phone numbers. The referred person already had Justutalk account opened earlier.  If this condition is discovered at any time all rewards already delivered related to.
            </p>
        </div>
    </section>
</div>



<script>
    //var app = new kendo.mobile.Application();

    function collapseHandler() {
        console.log("expand");
    }

</script>

<style>
    
    
    
    #collapsible2 .collapsible-content{
        height: auto;
    }

    /*
       define custom icon names, full list of available icons can be found at:
       http://docs.telerik.com/kendo-ui/mobile/icons
   */


    .hero {
        display: block;
        margin: 0;
        padding-left: .5em;
        height: 110px;
        line-height: 110px;
        font-size: 18px;
        color: rgba(255,255,255,.85);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
        background: url(images/shared/grass.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }



    </style>