<div data-role="view" data-title="Services" id="services-view">
    <div class="hero2">
        <div class="title">Our Services</div>
        <div class="content">Justutalk offers a wide range of services making it easy for our customers to make cheap international calls</div>

    </div>
    <div>

        <ul id="menu-items" class="additional-icons" data-role="listview" >
            <li>
                <div>
                    <a href="#views/home.html">
                        <div class="">
                            <span class="km-icon km-home"></span>
                        </div>
                        <div>Hot Number</div>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#views/apps.html">
                        <div class="">
                            <span class="km-icon km-downloads"></span>
                        </div>
                        <div>Pinless Call</div>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#views/offers.html">
                        <div class="">
                            <span class="km-icon km-cart"></span>
                        </div>
                        <div>Web SMS</div>
                    </a>
                </div>
            </li>

            <li>
                <div>
                    <a href="#views/services.html">
                        <div class="">
                            <span class="km-icon km-settings"></span>
                        </div>
                        <div>Apps</div>
                    </a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#views/about.html">
                        <div class="">
                            <span class="km-icon km-about"></span>
                        </div>
                        <div>Mobile Topup</div>
                    </a>
                </div>
            </li>

            <li>
                <div>
                    <a href="#views/contacts.html">
                        <div class="">
                            <span class="km-icon km-phone"></span>
                        </div>
                        <div>Mobile Topup</div>
                    </a>
                </div>
            </li>

        </ul>
    </div>




    var groupedData = [
    { name: "Hot Number", description: "It is the concept of combining your phone number and your...  ", url: "../../content/mobile/listview/sashimi-salad.jpg", font_icon:"fa-globe" },
    { name: "Pinless Call", description: "Justutalk Pinless is our pre-paid calling systems allow you pin-less... ", url: "../../content/mobile/listview/seaweed-salad.jpg", font_icon:"fa-signal"  },
    { name: "Web SMS", description: "We happay to introduce our new Online SMS service. This service...", url: "../../content/mobile/listview/edamame.jpg", font_icon:"fa-comment-o"  },
    { name: "Apps", description: "By using apps you can get connected from anywhere in the world...", url: "../../content/mobile/listview/maguro.jpg", font_icon:"fa-mobile"  },
    { name: "Mobile Topup", description: "With justutalk you can send Top Up in just a few minutes to...", url: "../../content/mobile/listview/tekka-maki.jpg", font_icon:"fa-money"  },
    ];

    <!--Footer-->
    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="#views/home.html" data-icon="home">Home</a>
            <a href="#views/login.html" data-icon="contacts">Login</a>
            <a href="#tabstrip-location" data-icon="search">Location</a>
            <a href="#tabstrip-weather" data-icon="globe">Weather</a>
        </div>
    </div>

</div>

<style>

    .hero2 .title, .hero2 .content{
        color: #ffffff;
    }

    .hero2 .title{
        font-size: 1.5em;
        font-weight: 700;
    }

    .hero2 .content{
        font-size: 1em;
        margin: 10px 0;
    }

    #services-view .hero2 {
        display: block;
        margin: 0;
        padding: 1em;
        height: 140px;
        background: url(images/bgs/lg/27.jpg) no-repeat center top;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }

    #services-view #menu-items {
        /*margin: 30px;*/
        text-align: center;
    }

    #services-view #menu-items li div{
        text-align: center;
        /*color: #fff;*/
        font-size: 0.9em;
        margin-bottom: 4px;
    }

    #services-view #menu-items li{
        width: 47%;
        height: 100px;
        border: 1px solid #fff;
        display: inline-table;
        margin: 3px;
        border-radius: 5px;
        background-color: #E8E8E8;
    }

    #services-view #menu-items li div a{
        text-decoration: none;
    }


    #services-view .km-content{
        /*background: url(images/bgs/lg/lg-01.jpg) no-repeat center top transparent;*/

    }


    #services-view .km-listview-wrapper {
        margin: 10px;
        display: block;
        overflow: hidden;
    }


    #services-view #menu-items .km-icon {
        width: 1em;
        height: 1em;
        font-size: 1em;
        margin-left: 0;
        margin-right: 0;
        vertical-align: baseline;
        display: inline-block;
        /* background-size: auto 100%; */
        color: #999;
        font-size: 2.5em;
    }

</style>

<script>

    function init_services(){

        alert('showing');
    }
</script>