<div data-role="view" data-title="My Account"
     data-model="APP.models.settings"
     class="content-bg-green"
     data-transition="overlay:up" id="my-account-view">

    <!--Header-->
    <div data-role="header">
         <!--<div data-role="navbar">
             <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
             <span data-role="view-title"></span>
         </div>-->

     </div>

    <!--
    <div class="hero">ABOUT US</div>


    <h1 data-bind="html: title" class="My Account"></h1>

    <div class="title-box text-center">
        <h3 class="title text-white">My Account</h3>
    </div>
    -->
    <div style="margin: 50px 0;">
        <ul id="menu-items" class="additional-icons " data-role="listview" >
            <div class="round-widget-wrapper jt-center">
                <a href="#views/user/sms.html" class="round-widget">
                    <div class="widget-icon">
                        <span class="km-icon km-sms-light"></span>
                    </div>
                    <div class="widget-text">Send SMS</div>
                </a>
                <a href="#views/user/topup.html" class="round-widget">
                    <div class="widget-icon">
                        <span class="km-icon km-cart"></span>
                    </div>
                    <div class="widget-text">Top-up</div>
                </a>
                <a href="#views/user/call-history.html" class="round-widget">
                    <div class="widget-icon">
                        <span class="km-icon km-recents"></span>
                    </div>
                    <div class="widget-text">Call History</div>
                </a>
            </div>

            <div class="round-widget-wrapper jt-center">
                <a href="#views/user/topup-history.html" class="round-widget">
                    <div class="widget-icon">
                        <span class="km-icon km-calender"></span>
                    </div>
                    <div class="widget-text">Top-up History</div>
                </a>
                <a href="#views/user/ani.html" class="round-widget">
                    <div class="widget-icon">
                        <span class="km-icon km-home"></span>
                    </div>
                    <div class="widget-text">Authorised Numbers</div>
                </a>
                <a href="#views/user/hot-number.html" class="round-widget">
                    <div class="widget-icon">
                        <span class="km-icon km-globe"></span>
                    </div>
                    <div class="widget-text">Hot Number</div>
                </a>
            </div>

            <div class="round-widget-wrapper jt-center">
                <a href="#views/user/speed-dial.html" class="round-widget">
                    <div class="widget-icon">
                        <span class="km-icon km-speed"></span>
                    </div>
                    <div class="widget-text">Speed Dial</div>
                </a>
                <a href="#views/user/fnf.html" class="round-widget">
                    <div class="widget-icon">
                        <span class="km-icon km-heart-light"></span>
                    </div>
                    <div class="widget-text">Friend n Family</div>
                </a>
                <a href="#views/user/referral.html" class="round-widget">
                    <div class="widget-icon">
                        <span class="km-icon km-pyramid"></span>
                    </div>
                    <div class="widget-text">User Referral</div>
                </a>
            </div>
        </ul>
    </div>


</div>

<style>
    .hero {
        display: block;
        margin: 0;
        padding-left: .5em;
        height: 110px;
        line-height: 110px;
        font-size: 18px;
        color: rgba(255,255,255,.85);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
        background: url(images/header/5.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }





</style>

<!-- My Acconut View -->
<div data-role="view" id="" data-title="My Account" data-transition="overlay:up" style="background-color: rgba(255 255 255 0 )">
    <!--<div data-role="header" style="z-index: 100;">
        <div data-role="navbar">
            <span data-role="view-title"></span>
        </div>
    </div>-->
    <p class="dropdown-menu" role="menu">
        pppppppp
    </p>

    <ul  data-role="listview" data-style="inset">
        <!--<li data-icon="home"><a href="/voizage-account">Voizage Account</a></li>
        <li data-icon="home"><a href="/our-apps">Mobile Applications</a></li>
        <li data-icon="home"><a href="/our-apps">PC2Phone</a></li>
        <li data-icon="home"><a href="/assigned-rates-plan">Current Rate Plan</a></li>-->
        <li data-icon="home"><a href="/web-sms">Send SMS</a></li>
        <!--<li data-icon="home"><a href="/user-dashboard">User Dashboard</a></li>
        <li data-icon="home"><a href="/user">My Profile</a></li>
        <li data-icon="home"><a href="/manage-pin">Pc &amp; Mobile Dialer Password</a></li>-->
        <li data-icon="home"><a href="/manage-payment">Top-up your Account</a></li>
        <li data-icon="home"><a href="/user/call-history">Call History</a></li>
        <li data-icon="home"><a href="/recharge-history">Top-up History</a></li>
        <li data-icon="home"><a href="/ani">Authorised Numbers</a></li>

        <li data-icon="home"><a href="/hot-numbers">Hot Number Settings</a></li>
        <li data-icon="home"><a href="/speed-dial">Speed Dial Settings</a></li>
        <li data-icon="home"><a href="/fnf-numbers">Friend &amp; Family Settings</a></li>
        <li data-icon="home"><a href="/user-referrals">User Referral</a></li>
    </ul>

</div>

