<div data-role="view" data-title="Offers" data-model="APP.models.settings" class="" id="offers-view">

    <!--Header-->
   <!-- <div data-role="header">
        <div data-role="navbar">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <span data-role="view-title"></span>
        </div>

    </div>-->
    <div class="hero">Special Offers</div>

    <div class="divider-green"></div>
    <ul id="menu-items" class="additional-icons " data-role="listview" >
        <div class="offers-widget-large-wrapper">
            <li class="offers-widget-large">
                <a href="#views/home.html" >
                    <div class="offers-widget-header">
                        <div class="widget-icon">
                            <span class="km-icon km-mobile-light"></span>
                        </div>
                        <div class="widget-title">Standard</div>
                    </div>
                </a>
                <div class="offer-price"><i>only</i><span>$10.00</span></div>
                <div class="offers-widget-list">
                    <ul data-role="listview" data-style="inset" >
                        <li>By using Mobile apps you can get</li>
                        <li>By using Mobile apps you can get</li>
                        <li>By using Mobile apps you can get</li>
                    </ul>
                </div>
                <!--
                    <div class="widget-text">
                        By using Mobile apps you can get connected from anywhere in the world. Only needs internet in to yor Mobile sets.
                    </div>
                -->

                <div>
                    <a data-role="button" href="#" style="margin: 1em 0;"><i class="fa fa-cart-plus"></i>Buy now</a>
                </div>
            </li>
            <li class="offers-widget-large highlight">
                <a href="#views/home.html" >
                    <div class="offers-widget-header">
                        <div class="widget-icon">
                            <span class="km-icon km-windows"></span>
                        </div>
                        <div class="widget-title">Bronze</div>
                    </div>
                </a>
                <div class="offer-price"><i>only</i><span>$15.00</span></div>
                <div class="offers-widget-list">
                    <ul data-role="listview" data-style="inset" >
                        <li>By using Mobile apps you can get</li>
                        <li>By using Mobile apps you can get</li>
                        <li>By using Mobile apps you can get</li>
                    </ul>
                </div>

                <div>
                    <a data-role="button" href="#" style="margin: 1em 0;" data-badge="Best" ><i class="fa fa-cart-plus"></i>Buy now</a>
                </div>
            </li>
            <li class="offers-widget-large">
                <a href="#views/home.html" >
                    <div class="offers-widget-header">
                        <div class="widget-icon">
                            <span class="km-icon km-sms-light"></span>
                        </div>
                        <div class="widget-title">Silver</div>
                    </div>
                </a>
                <div class="offer-price"><i>only</i><span>$20.00</span></div>
                <div class="offers-widget-list">
                    <ul data-role="listview" data-style="inset" >
                        <li>By using Mobile apps you can get</li>
                        <li>By using Mobile apps you can get</li>
                        <li>By using Mobile apps you can get</li>
                    </ul>
                </div>
                <!--
                    <div class="widget-text">
                        By using Mobile apps you can get connected from anywhere in the world. Only needs internet in to yor Mobile sets.
                    </div>
                -->

                <div>
                    <a data-role="button" href="#" style="margin: 1em 0;" ><i class="fa fa-cart-plus"></i>Buy now</a>
                </div>
            </li>
            <li class="offers-widget-large">
                <a href="#views/home.html" >
                    <div class="offers-widget-header">
                        <div class="widget-icon">
                            <span class="km-icon km-cart"></span>
                        </div>
                        <div class="widget-title">Gold</div>
                    </div>
                </a>
                <div class="offer-price"><i>only</i><span>$25.00</span></div>
                <div class="offers-widget-list">
                    <ul data-role="listview" data-style="inset" >
                        <li>By using Mobile apps you can get</li>
                        <li>By using Mobile apps you can get</li>
                        <li>By using Mobile apps you can get</li>
                    </ul>
                </div>
                <!--
                    <div class="widget-text">
                        By using Mobile apps you can get connected from anywhere in the world. Only needs internet in to yor Mobile sets.
                    </div>
                -->

                <div>
                    <a data-role="button" href="#" style="margin: 1em 0;" ><i class="fa fa-cart-plus"></i>Buy now</a>
                </div>
            </li>
        </div>


    </ul>


</div>

<style>

    #offers-view .offers-widget-list .km-list>li {
        font-size: .8em;
        padding-left: 1em;
        background: transparent;
        border-radius: 0;
        border-width: 1px 0 0;
        border-style: solid;
    }

    .offer-price {
         margin: 10px 0;
    }

    .offer-price i{
        margin: 5px;
    }

    .offer-price span{
        font-size: 2em;
        color: #E61818;
    }

    #offers-view.hero {
        display: block;
        margin: 0;
        padding-left: .5em;
        height: 110px;
        line-height: 110px;
        font-size: 18px;
        color: rgba(255,255,255,.85);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
        background: url(images/header/5.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }

    .offers-widget-large-wrapper{
        display: block;
        overflow: hidden;
        margin: 0 auto;
    }

    .offers-widget-large .widget-icon {
        width: 30px;
        height: 30px;
        /* border: 2px solid #bbb; */
        /* border-radius: 50%; */
        /* line-height: 73px; */
        /* font-size: 25px; */
        /* text-align: center; */
        /* margin: 0 auto; */
        float: left;
        margin: 0 10px 0 0;
    }

    .offers-widget-large .widget-title {
        font-size: 1em;
        color: #F3A912;
        margin: 5px 0;
        float: left;
    }

    .offers-widget-large .widget-text {
        font-size: .9em;
        margin: 10px 0 0;
    }

    a.offers-widget-large {
        width: 48%;
        /* height: 70px; */
        /* font-size: 15px; */
        text-align: left;
        display: inline-table;
        overflow: hidden;
        margin: 2px;
        text-decoration: none;
        /* color: #fff; */
        min-height: 310px;
        border: 1px solid #ddd;
        /* padding: 1em .6em; */
        border-radius: 5px;
        background-color: #eee;
    }
    li.offers-widget-large {
        width: 48%;
        /* height: 70px; */
        /* font-size: 15px; */
        text-align: center;
        display: inline-table;
        overflow: hidden;
        margin: 2px;
        text-decoration: none;
        /* color: #fff; */
        min-height: 310px;
        border: 1px solid #ddd;
        /*padding: 1em .6em;*/
        border-radius: 5px;
        background-color: #eee;
    }
    li.offers-widget-large a {
        width: 100%;
        /* height: 70px; */
        /* font-size: 15px; */
        /* text-align: center; */
        /* display: inline-table; */
        /* overflow: hidden; */
        /* margin: 5px; */
        text-decoration: none;
        /* color: #fff; */
        /* min-height: 310px; */
        /* border: 1px solid #ddd; */
        /* padding: 1em .6em; */
        /* border-radius: 5px; */
        /* background-color: #eee; */
        display: block;
        /*background-color: green;*/
        border-bottom: 1px solid #999;
    }

    li.offers-widget-large.highlight{
        background-color: #F2CF02;
    }

    #offers-view #menu-items .km-icon {
        width: initial;
        height: 1em;
        font-size: 1em;
        margin-left: 0;
        margin-right: 0;
        vertical-align: baseline;
        display: inline-block;
        /* background-size: auto 100%; */
        color: #999;
        font-size: 2.5em;
    }

    .offers-widget-header {
        padding: 5px;
        overflow: hidden;
        height: 50px;
    }

    .offers-widget-large .km-badge{
        right: 1px;
    }


</style>


C:\Python34\;C:\Python34\Scripts;C:\ProgramData\Oracle\Java\javapath;%SystemRoot%\system32;%SystemRoot%;%SystemRoot%\System32\Wbem;%SYSTEMROOT%\System32\WindowsPowerShell\v1.0\;C:\Program Files\nodejs\;C:\Program Files (x86)\cURL\bin;C:\Program Files (x86)\QuickTime\QTSystem\;C:\Program Files (x86)\Git\cmd;%USERPROFILE%\.dnx\bin;C:\Program Files\Microsoft DNX\Dnvm\;C:\Program Files (x86)\Windows Kits\8.1\Windows Performance Toolkit\;C:\Program Files\Microsoft SQL Server\120\Tools\Binn\;%ANT_HOME%\bin;%JAVA_HOME%\bin