<div data-role="view" data-title="Ways to Call" data-transition="slide" data-model="APP.models.settings">
    <div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left"></a>
            <!--<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>-->
            <span data-role="view-title"></span>
        </div>
    </div>
    <ul data-role="listview" data-type="group" data-style="inset">
        <li>
            Calling via mobile application
            <p>
                By using Mobile apps you can get connected from anywhere in the world. Only needs internet in to yor Mobile sets.
            </p>
            <h4>How to call via Mobile Apps:</h4>

            <ul>
                <li>
                    <div>To use your mobile dialler, you need three things :</div>
                    i.   Operator Code - 89434<br/>
                    ii.  Username<br/>
                    iii. Password - <i>https://www.justutalk.net/manage-pin</i>.<br/>
                </li>
                <li>
                    <div>Download and Install Mobile Dialer - <b>iTel Mobile Dialer Express</b> - on your smart phone from the following link:</div>

                    <div class="jt-margin-10-tb"><b>Symbian 2.30.0</b><br/>
                    <i>http://173.192.15.191/newmd or http://173.192.15.188/imd</i></div>

                    <div class="jt-margin-10-tb"><b>Android 3.6.3</b><br/>
                    <i>https://play.google.com/store/apps/details?id=com.revesoft.itelmobiledialer.dialer or
                    http://173.192.15.191/newmd or http://173.192.15.188/imd</i></div>

                    <div class="jt-margin-10-tb"><b>iPhone 3.4.4</b><br/>
                    <i>https://itunes.apple.com/in/app/itel-mobile-dialer-express/id445338527?mt=8</i></div>

                    <div class="jt-margin-10-tb"><b>Windows Phone  3.5.0.0</b><br/>
                    <i>http://www.windowsphone.com/en-us/store/app/itelmobiledialer/de0e1e5b-aaad-40b5-bc34-ea60159b7851</i></div>

                    <div class="jt-margin-10-tb"><b>Blackberry 3.18.1.1</b><br/>
                    <i>http://appworld.blackberry.com/webstore/ content/29163891/?lang=en&countrycode=BD</i></div>

                </li>
            </ul>
            <p>
            After getting your user name and password you can make calls worldwide from anywhere in the World.
            Dialinging Format : 00+country code+ destination number
            </p>
        </li>
    </ul>
</div>


<style>

    .jt-margin-10-tb {
        margin: 10px 0;
    }


</style>