<div data-role="view" data-title="Ways to Call" data-transition="slide" data-model="APP.models.settings">
    <div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left"></a>
            <!--<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>-->
            <span data-role="view-title"></span>
        </div>
    </div>
    <ul data-role="listview" data-type="group" data-style="inset">
        <li>
            Calling via access number
            <ul>
                <li>1.  You just dial the Access number 02035146800 or 02037347133 -wait and listen the voice prompt.</li>
                <li>2.  Then Dial your Destination Number followed by 00 + Country code + Telephone Number + # (or for more minutes without 00, check call rates).</li>
                <li>3.  Wala! you are connected.</li>
            </ul>
            <p><i>To make a redial press *2, follow-up call press ## on your phone keypad then repeat the step 2.</i></p>
        </li>

    </ul>
</div>


<style>

    .jt-margin-10-tb {
        margin: 10px 0;
    }

</style>