<div data-role="view" data-title="Ways to Call" data-transition="slide" data-model="APP.models.settings">
    <div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left"></a>
            <!--<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>-->
            <span data-role="view-title"></span>
        </div>
    </div>
    <ul data-role="listview" data-type="group" data-style="inset">
        <li>
            Calling via hot number/ direct dial/ Fn'F
            <p>
                "The Hot Number Dialing", is the concept of combining your phone number and your destination number with a pre-assigned number; and just dial that Hot number instead of dialing your destination number which connect with your destination Number.You can set up your hot number/fnf in to your account for direct dial to local access number and you will be reach your destination..
            </p>

        </li>
    </ul>
</div>


<style>

    .jt-margin-10-tb {
        margin: 10px 0;
    }

</style>