<div data-role="view" data-title="Ways to Call" data-transition="slide" data-model="APP.models.settings">

    <div data-role="header">
        <div data-role="navbar">
            <a data-role="backbutton" data-align="left"></a>
            <!--<a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>-->
            <span data-role="view-title"></span>
        </div>
    </div>

    <ul data-role="listview" data-type="group" data-style="inset">
        <li>
            Calling via pc application
            <ul>

                <h4>How to call via PC Dialer:</h4>
                <li>
                    1.  Install PC Dialer software from http://sip1.voizage.co.uk:786/voizage-vpn-dialer.exe
                </li>
                <li>
                    2.  Please email us info@justutalk.net for your PC Dialer user name and password.
                </li>
                <li>
                    3.  Soon you will get your user and password in to your authorise mobile phone via text message.
                </li>
                <li>
                    4.  After getting your user name and password you will be able to reach anywhere in the world from anywhere you are.
                </li>

                <p><i>By using pc apps you can get connected from anywhere in the world. Only needs internet in to yor Mobile sets.</i></p>

                <p><font color="red">Now Enjoy !!!!!!!!!!!! our PC dialer service.</font></p>
            </ul>
        </li>
    </ul>
</div>



<style>

    .jt-margin-10-tb {
        margin: 10px 0;
    }

</style>