<!--Weather View-->
<div id="tabstrip-weather"
     data-role="view"
     data-title="Weather"
     data-model="app.weatherService.viewModel">

    <ul data-role="listview" data-style="inset"
        data-bind="source: weatherDataSource"
        data-template="weather-forecast-template">
    </ul>
</div>

<!--Weather forecast template-->
<script id="weather-forecast-template" type="text/x-kendo-tmpl">
    <div class="w-item-template">
        <span class="w-icon ${image}"></span>
        <h4 class="w-date">${day}</h4>
        <div class="w-temp">
            <span>${highTemperature}<sup>&deg;</sup></span>
            <span>${lowTemperature}<sup>&deg;</sup></span>
        </div>
    </div>
</script>