<a id="myButton"
   data-role="button"
   data-actionsheet-context="1"
   data-rel="actionsheet" href="#myActionSheet">Foo...</a>

<ul data-role="actionsheet" id="myActionSheet">
    <li><a data-action="foo">Foo</a></li>
    <li><a data-action="bar.baz">Bar</a></li>
</ul>

<script>
    function foo(e) {
        e.context; // 1
        e.target; // $("#myButton")
    }

    var bar = {
        baz: function(e) {
            e.context; // 1
            e.target; // $("#myButton")
        }
    }
</script>