<div>
    <div data-role="tabstrip">
        <a href="#index" data-icon="arrow-e">Home</a>
        <a href="#index" data-icon="phone-e">Home</a>
    </div>
</div>


<h3>Green Kendo mobile ButtonGroup</h3>
<ul id="buttongroup" data-role="buttongroup">
    <li style="background-color: green">Option1</li>
    <li style="beckground-color: red">Option2</li>
</ul>


<p>
    <h3>Button Badges</h3>
    <ul id="buttongroup" data-role="buttongroup">
        <li data-badge="5">Option 1</li>
        <li data-badge="105">Option 2</li>
    </ul>
</p>

<p>
    <h3>Button Icons</h3>
    <div>
        <h4>A Button icon can be set in two ways:</h4>
        <ul>
            <li>By adding an img element inside the Button li element</li>
            <li>By setting a data-icon attribute to the Button li element</li>
        </ul>
    </div>
    <ul id="buttongroup" data-role="buttongroup">
        <li data-icon="mostrecent">Most Recent</li>
        <li data-icon="mostviewed">Most Viewed</li>
    </ul>
</p>

<p>
    <h3>Small ButtonGroup</h3>

    <ul data-role="buttongroup" data-index="0" class="km-small">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
</p>

<p>
    <h3>Large ButtonGroup</h3>

    <ul data-role="buttongroup" data-index="0" class="km-large">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
</p>

<p>
    <h3>Icons only ButtonGroup</h3>

    <ul data-role="buttongroup" data-index="1">
        <li data-icon="play"></li>
        <li data-icon="pause"></li>
        <li data-icon="rewind"></li>
        <li data-icon="fastforward"></li>
        <li data-icon="globe"></li>
    </ul>
</p>

<p>
    <h3>Justified ButtonGroup</h3>

    <ul data-role="buttongroup" data-index="0" class="km-justified">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
</p>


<style>
    .km-arrow-e:after,
    .km-arrow-e:before
    {
        content: "\e000";
    }

    .km-phone-e:after,
    .km-phone-e:before
    {
        content: "\e226";
    }
</style>

