<div id="collapsible-view" data-role="view"  data-title="Collapsible" data-init="onInit" data-use-native-scrolling="true">

    <div class="hero">Collapsible</div>

    <div id="collapsible1" data-role="collapsible" data-collapse="collapseHandler">
        <h2 class="classname">Header</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div id="collapsible2" data-role="collapsible" data-collapse="collapseHandler">
        <h2 class="classname">Header</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div id="collapsible3" data-role="collapsible" data-collapse="collapseHandler">
        <h2 class="classname">Header</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>



    <ul data-role="listview" data-type="group">
        <li>
            Configuration
            <ul>
                <li>
                    Show/Hide collapsible <input type="checkbox" data-role="switch" data-bind="checked: isVisible">
                    
                </li>
            </ul>
        </li>
        <li>
            <p>
                Kendo UI Mobile Collapsible supports the
                <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/events">events</a> and
                <a href="http://docs.telerik.com/kendo-ui/getting-started/framework/mvvm/bindings/visible">visible</a> bindings.
            </p>
        </li>
    
        <li>
            Preview
        </li>
    </ul>

    <div data-role="collapsible" data-bind="visible: isVisible, events: { expand: expand, collapse: collapse }">
        <h3>Netherlands</h3>
        <p>The Netherlands is a constituent country of the Kingdom of the Netherlands, located mainly in North-West Europe and with several islands in the Caribbean. Mainland Netherlands borders the North Sea to the north and west, Belgium to the south, and Germany to the east, and shares maritime borders with Belgium, Germany and the United Kingdom. </p>
    </div>

</div>

<script>
    //var app = new kendo.mobile.Application();

    function collapseHandler() {
        console.log("expand");
    }

</script>

<style>

    .hero {
        display: block;
        margin: 0;
        padding-left: .5em;
        height: 110px;
        line-height: 110px;
        font-size: 18px;
        color: rgba(255,255,255,.85);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
        background: url(images/shared/grass.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }

    .classname {
        padding: 5px 32px;
        /*
        background:#575757;
        border:solid 1px #2d2d2d;
        text-align:center;
        padding:10px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        */
    }

    .classname {
        background: -webkit-gradient(linear, 88% 20%, 10% 21%, from(#8cc700), to(#4e7500));
        color: #fff;
        font-size: 1em;
        /*color: rgb(78, 117, 0);*/
    }

    #collapsible-view .km-collapsible {
        margin: .02em 0;
    }

    #collapsible-view .km-collapsible-header {
        position: relative;
        border-style: solid;
        border-width: 1px 0;
        padding: .4em 0;
        line-height: 20px;
        background: -webkit-gradient(linear, 88% 20%, 10% 21%, from(#8cc700), to(#4e7500));

    }

    #collapsible-view .km-icon-left .km-arrow-s,
    #collapsible-view .km-icon-left .km-arrow-n {
        left: .2em;
    }

    #collapsible-view .km-collapsible-header .km-icon {
        color: #FFFEFE;
        font-size: 20px;
        margin: 3px 0;
    }

    #collapsible-view .km-collapsible-header .km-arrow-s,
    #collapsible-view .km-collapsible-header .km-arrow-n {
        position: absolute;
    }

    .km-collapsible-header, .km-collapsible-content {
        border-color: rgba(255, 255, 255, 0.5);
        color: #000;
    }

    </style>