<div data-role="view" data-init="mobileListViewPressToLoadMore" data-title="My Menu">
    <header data-role="header">
        <div data-role="navbar">
            <a id="back-button" class="nav-button" data-align="left" href="#/" data-role="backbutton">Back</a>
            <span data-role="view-title"></span>
            <a data-align="right" data-icon="source-code" data-click="goToSourceCode" data-role="button" title="Show this demo source code"></a>
        </div>
    </header>

    <ul id="load-more"></ul>


    <div data-role="scroller" style="width: 95%; height: 400px" data-pull-to-refresh="true"
        data-messages='{ "pullTemplate": "Go" }'>
        <div style="height: 500px">
            <ul id="pull-with-endless-listview"></ul>
        </div>
    </div>



</div>
<script id="go" type="text/x-kendo-template">
    Go!
</script>
<script type="text/x-kendo-tmpl" id="load-more-template">
    <h4>#:name# - #:kendo.toString(tid, "c")#</h4>
</script>

<script>
    function mobileListViewPressToLoadMore() {
        var dataSource_p = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "http://excitenet.co.uk/users-json/jusutalk-mobile-test.json",
                    dataType: "json"
                }
            },
            batch: true,
            serverPaging: true,
            pageSize: 20,
            sort: {
                field: "tid",
                dir:"asc"
            },
            schema: {
                total: function() {
                    return 32;
                },
                //data: "data",
                model: {
                    id: "tid",
                    fields: {
                        tid: { editable: false, nullable: true },
                        name: { type: "string" },
                        status: { type: "number" },
                        email: { type: "string" }
                    }
                }
            }
        });

        $("#load-more").kendoMobileListView({
            dataSource: dataSource_p,
            pullToRefresh: true,
            endlessScroll: true,
            scrollTreshold: 30,
            //appendOnRefresh: true,
            template: $("#load-more-template").text(),
            //loadMore: true
        });
    }
</script>


<script type="text/x-kendo-tmpl" id="pull-with-endless-template">
    <div class="product-item">
        <h3>#:name#</h3>
        <span class="km-badge km-listview-item-badge">#:kendo.toString(tid, "c")#</span>
    </div>
</script>

<script>
    function mobileListViewPullWithEndless(e) {
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "http://excitenet.co.uk/users-json/jusutalk-mobile-test.json",
                    dataType: "json"
                }
            },
            schema: {
                total: function () {
                    return 32
                }
            },
            serverPaging: true,
            pageSize: 15
        });

        $("#pull-with-endless-listview").kendoMobileListView({
            dataSource: dataSource,
            template: $("#pull-with-endless-template").text(),
            //pullToRefresh: true,
            //loadMore: true,
            endlessScroll: true,
            scrollTreshold: 30,
        });       
        
    }
</script>


<style>
#load-more h4 {
  margin-top: .2em;
  margin-bottom: .2em;
}
</style>


<script>
    //var app = new kendo.mobile.Application(document.body, { skin: "nova" });
</script>