<div data-role="view"  data-layout="main"  data-title="detail">
    <ul data-role="listview"
        data-source="ds_detail"
        data-pull-to-refresh="true"
        data-append-on-refresh="true"
        data-template="foo-template"
        data-style="contactadd" >
    </ul>
</div>

<script type="text/x-kendo-template" id="foo-template">
    #= data.nid # - #= title #
    <!--<span >#: title #</span>-->
</script>


<div data-role="view" data-show="detailViewShown" id="view-detail" style="font-size: 16px; padding: 10px">
    <strong>Selected Genre:</strong>
    <strong>
        <!--Selected genre will be written here -->
        <span id="selected-genre" style="color:green"></span>
    </strong>
</div>
<script>

    var ds_detail = new kendo.data.DataSource({
        transport: {
            read: {
                //url: "http://excitenet.co.uk/get-json",
                url: "http://excitenet.co.uk/users-json/mobile-article.json",
                dataType: "json"
            }
        },
        schema: {
            //data:'data',
            //total: "total",
            model: {
                id: "nid",
                fields: {
                    nid: { type: "number" },
                    title: { type: "string" }
                }
            }/*,
             errors: "Errors",
             error: function(e){
             console.log(e);
             //console.log(errors);
             alert('error occured');
             //this.cancelChanges();
             }*/
        }
    });

    function detailViewShown(e){
        //Read the selected genre from the query string
        $('#view-detail #selected-genre').text(e.view.params.genre);
    }


</script>
