<div data-role="view" data-title="detail">

    <div class="hero">PREMIER LEAGUE</div>

    <ul data-role="listview"
        data-source="ds_detail"
        data-template="foo-template"
        data-style="contactadd" >
    </ul>
</div>

<script type="text/x-kendo-template" id="foo-template">
    <h3>#= title # </h3>
    <p>#= body[0] #</p>
    <!--<span >#: title #</span>-->
</script>


<!--<div data-role="view" data-show="detailViewShown" id="view-detail" style="font-size: 16px; padding: 10px">
    <strong>Selected Genre:</strong>
    <strong>
        &lt;!&ndash;Selected genre will be written here &ndash;&gt;
        <span id="selected-genre" style="color:green"></span>
    </strong>
</div>-->

<script>

    var ds_detail = new kendo.data.DataSource({
        transport: {
            read: {
                //url: "http://excitenet.co.uk/get-json",
                url: "http://excitenet.co.uk/users-json/mobile-page.json",
                data: {
                    'nid': 64
                },
                dataType: "json"
            }
        },
        schema: {
            //data:'data',
            //total: "total",
            model: {
                id: "nid",
                fields: {
                    nid: { type: "number" },
                    title: { type: "string" }
                }
            }/*,
             errors: "Errors",
             error: function(e){
             console.log(e);
             //console.log(errors);
             alert('error occured');
             //this.cancelChanges();
             }*/
        }
    });

    function detailViewShown(e){
        //Read the selected genre from the query string
        $('#view-detail #selected-genre').text(e.view.params.genre);
    }


</script>
<style>
    .hero {
        display: block;
        margin: 0;
        padding-left: .5em;
        height: 110px;
        line-height: 110px;
        font-size: 18px;
        color: rgba(255,255,255,.85);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
        background: url(images/shared/grass.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }
    .results-title {
        padding: 0;
        text-align: left;
        font-size: 14px;
    }
    .results-title .km-icon {
        font-size: 1em;
    }
    .results-title .result {
        display: inline-block;
        width: 24px;
    }
    .results-title .team-one,
    .results-title .team-two {
        display: inline-block;
        width: 98px;
        text-align: right;
        font-weight: normal
    }
    .results-title .team-two {
        text-align: left;
    }
    .results-title .team-one img,
    .results-title .team-two img {
        width: 16px;
        vertical-align: middle;
        float: left;
    }
    .results-title .team-two img {
        float: right;
    }
    .match-details {
        /*width: 98%;*/
        text-align: left;
    }
    .match-details img {
        width: 10px;
    }
    .match-details td {
        width: 100%;
    }

    .match-details td:last-child {
        text-align: left;
    }
</style>