<div data-role="view" data-title="Utils" data-model="app.orderService.viewModel">

    <p><span data-bind="text: token"></span></p>


    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kGetOrder">kGetOrder</a></p>
    <!--<p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kDeleteOrder">kDeleteOrder</a></p>-->
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kUpdateOrder">kUpdateOrder</a></p>
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kCreateOrder">kCreateOrder</a></p>


    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kGetLineItem">kGetLineItem</a></p>
    <!--<p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kDeleteLineItem">kDeleteLineItem/a></p>-->
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kUpdateLineItem">kUpdateLineItem</a></p>
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kCreateLineItem">kCreateLineItem</a></p>

    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kGetCustomerProfile">kGetCustomerProfile</a></p>
    <!--<p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kDeleteCustomerProfile">kDeleteCustomerProfile</a></p>-->
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kUpdateCustomerProfile">kUpdateCustomerProfile</a></p>
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kCreateCustomerProfile">kCreateCustomerProfile</a></p>

    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kGetPaymentTransaction">kGetPaymentTransaction</a></p>
    <!--<p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kDeletePaymentTransaction">kDeletePaymentTransaction</a></p>-->
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kUpdatePaymentTransaction">kUpdatePaymentTransaction</a></p>
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kCreatePaymentTransaction">kCreatePaymentTransaction</a></p>


    <p>
        <a data-role="button" data-align="left" data-icon="globe" data-click="kCreateTest">kCreateTest</a>
    </p>
</div>


<script>




</script>

