<div data-role="view" id="grid-view" data-title="grid" style="margin: 0 auto" data-show="mobileSalesViewInit" >



    <div class="hero">ABOUT US</div>
    <div id="listView" data-role="listview" class="k-widget k-listview" role="listbox" style="margin: 0 auto">
        <div id="referral-summary">
            <table width="100%" border="0" cellspacing="1" cellpadding="3">
                <!--<thead class="k-grid-header border-top-green">-->
                <!--<tr>-->
                    <!--<th><i class="km-icon km-cart jt-icon"></i></th>-->
                    <!--<th colspan="2" class="title">Summary</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <tbody>
                    <tr>
                        <td>
                            <dl>
                                <dt>Referred Users</dt>
                                <dd>20</dd>
                            </dl>
                        </td>
                        <td>
                            <dl>
                                <dt>Commission Total</dt>
                                <dd>£78</dd>
                            </dl>
                        </td>
                        <td>
                            <dl>
                                <dt>Payment Received</dt>
                                <dd>£50</dd>
                            </dl>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>



    <ul data-role="listview"
        data-source="groupedData"
        data-template="my-template">

    </ul>

    <script type="text/x-kendo-template" id="my-template">
        <h3 class="item-title">#: name #</h3>
        <p class="item-info">#: description #</p>
    </script>

    <script type="text/x-kendo-template" id="header-template">
        #: value #
    </script>

    <script>
        var groupedData = new kendo.data.DataSource({
            data: [
                { name: "Sashimi Salad", description: "Organic greens topped with market fresh sashimi, wasabi soy vinaigrette.",  letter: "S" },
                { name: "Seaweed Salad", description: "A nice seaweed salad.",  letter: "S" },
                { name: "Edamame", description: "Boiled soy beans with salt.",  letter: "E" },
                { name: "Maguro", description: "Tuna pieces.",  letter: "M" },
                { name: "Tekka Maki", description: "Tuna roll with wasabi.",  letter: "T" },
                { name: "California Rolls", description: "Crab sticks, avocado and cucumber.",  letter: "C" }
            ]
            //,
            //group: { field: "letter" }
        });

        //new kendo.mobile.Application();
    </script>


</div>



<script>
    function mobileSalesViewInit() {
        var listviews = this.element.find("ul.km-listview");

        $("#select-period").kendoMobileButtonGroup({
            select: function(e) {
                listviews.hide()
                        .eq(e.index)
                        .show();
            },
            index: 0
        });
    }
</script>




<style>

    .hero {
        display: block;
        margin: 0;
        padding-left: .5em;
        height: 110px;
        line-height: 110px;
        font-size: 18px;
        color: rgba(255,255,255,.85);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
        background: url(images/bgs/lg-10.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }


    .border-top-green{
        border-top: 2px solid green;
    }

    .border-top-blue{
        border-top: 2px solid blue;
    }

    .border-top-red{
        border-top: 2px solid red;
    }

    .border-left-green{
        border-top: 2px solid green;
    }

    .border-left-blue{
        border-top: 2px solid blue;
    }
    .border-left-red{
        border-top: 2px solid red;
    }

    .border-top-green, .border-top-blue, .border-top-red,
    .border-left-green,.border-left-blue, .border-top-red{
        margin: 10px 0;
    }








    #select-period {
        margin: 3em auto;
    }
    #buttongroup-home .km-list span {
        float: right;
    }



    #referral-summary{
        padding: 0;
        margin: 0;
    }

    #referral-summary table td{
        padding: 5px;
        /*border: 1px solid #ddd;*/
    }

    #referral-summary dl{
        text-align: center;
        font-size: 0.9em;
    }
    #referral-summary dl dt{
        margin: 0 0 1em;
    }
    #referral-summary dl dd{
        margin: 0;
    }

    #referral-summary .jt-icon{
        text-align: right;
        /*float: right;
        font-size: 1.5em;*/
    }
    
    .no-border-right {
         border-right: 0;
    }
    .no-border-bottom {
        border-bottom: 0;
    }
    .no-border-left {
        border-left: 0;
    }
    .no-border-top {
        border-top: 0;
    }


   /* @media only screen and (max-width : 620px) {

        .grid-widget
        {
            width: 100%;
        }
        .grid-widget:nth-child(even) {
            border-left-width: 1px;
        }
    }*/
</style>

<style type="text/css">

    .k-grid > table > tbody > tr > td:first-child { width:20% }
    .k-grid > table > tbody > tr > td:first-child + td { width:30% }
    .k-grid > table > tbody > tr > td:first-child + td + td { width:50% }


    .k-header,
    .k-grid-header,
    .k-toolbar,
    .k-grouping-header,
    .k-tooltip, .k-pager-wrap,
    .k-tabstrip-items .k-item,
    .k-link.k-state-hover,
    .k-autocomplete,
    .k-dropdown-wrap, .k-picker-wrap,
    .k-numeric-wrap,
    .k-autocomplete.k-state-hover,
    .k-dropdown-wrap.k-state-hover,
    .k-picker-wrap.k-state-hover,
    .k-numeric-wrap.k-state-hover, .k-draghandle {
        background-repeat: repeat-x;
        background-position: 0 center;
    }

    .k-header, .k-grid-header,
    .k-toolbar, .k-grouping-header,
    .k-tooltip, .k-pager-wrap,
    .k-button, .k-draghandle {
        background-color: #6F9F00;
    }

    .k-grid-header .k-header {
        overflow: hidden;
        border-style: solid;
        border-width: 0 0 1px 1px;
        padding: .5em .6em .4em .6em;
        font-weight: normal;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #fff;
    }
    .k-grid-header .k-header {
        text-align: left;
    }
    .k-header {
        color: #2e2e2e;
    }

    .k-grid table {
        width: 100%;
        border-collapse: separate;
        empty-cells: show;
        border-width: 0;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .k-grid {
        position: relative;
        zoom: 1;
    }
    .k-widget {
        line-height: normal;
    }



    .customer-photo {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>