<div data-role="view" data-init="initListView">

    <p>hello ...
        <a id="btnAdd" data-role="button" data-icon="add"
           data-bind="events: { click: addProduct }">Add Product</a>
        <div id="progress"></div>
    </p>

    <div data-role="scroller" style="width: 95%; height: 400px">
                <ul id="listview"> </ul>
    </div>

</div>

<script>

    // datasource below is customized for demo purposes.
    var foo = new kendo.data.DataSource({
        transport: {
            read: {
                url: "http://excitenet.co.uk/users-json/jusutalk-mobile-test.json",
                dataType: "json"
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 20,
        sort: {
            field: "tid",
            dir:"asc"
        },
        schema: {
            total: "total",
            data: "data",
            model: {
                id: "tid",
                fields: {
                    tid: { editable: false, nullable: true },
                    name: { type: "string" },
                    status: { type: "number" },
                    email: { type: "string" }
                }
            }
        }
    });

    function initListView(e) {
        $("#listview").kendoMobileListView({
            dataSource: foo,
            pullToRefresh: true,
            endlessScroll: true,
            scrollTreshold: 30,
            template: "#: name # - #: tid #"
        });

    }
</script>