<div data-role="view" id="table-view" data-title="Table" style="margin: 0 auto" data-show="tableShow">

    <div id="example">
        <div class="demo-section">
            <div class="settings-head"></div>
            <ul>
                <li>Notifications <input type="checkbox" id="notifications-switch" checked="checked" /></li>
                <li>Send notifications <input id="mail-switch" /></li>
                <li>Always visible <input id="visible-switch" /></li>
                <li>Display real name <input id="name-switch" /></li>
            </ul>
        </div>

        <style>
            .demo-section ul {
                margin: 0;
                padding: 0;
            }
            .demo-section ul li {
                margin: 0;
                padding: 10px 10px 10px 20px;
                min-height: 28px;
                line-height: 28px;
                vertical-align: middle;
                border-top: 1px solid rgba(128,128,128,.5);
            }
            .demo-section {
                min-width: 220px;
                margin-top: 50px;
                padding: 0;
            }
            .demo-section ul li .km-switch {
                float: right;
            }
            .settings-head {
                height: 66px;
                background: url('../content/web/switch/settings-title.png') no-repeat 20px 50% #2db245;
            }
        </style>
    </div>

</div>






<script type="text/x-kendo-tmpl" id="template-Rate">

        <tr>
            <td width="10%">1</td>
            <td width="15%"> #: name # </td>
            <td width="55%"> #: description # </td>
            <td width="25%"> #: letter # </td>
        </tr>

</script>


<script>

    function tableShow() {
        //console.log(app.drupal.getApplication());

        var groupedData = new kendo.data.DataSource({
            data: [
                {
                    name: "Sashimi Salad",
                    description: "Organic greens topped with market fresh sashimi, wasabi soy vinaigrette.",
                    letter: "S"
                },
                {name: "Seaweed Salad", description: "A nice seaweed salad.", letter: "S"},
                {name: "Edamame", description: "Boiled soy beans with salt.", letter: "E"},
                {name: "Maguro", description: "Tuna pieces.", letter: "M"},
                {name: "Tekka Maki", description: "Tuna roll with wasabi.", letter: "T"},
                {name: "California Rolls", description: "Crab sticks, avocado and cucumber.", letter: "C"}
            ]
            //,
            //group: { field: "letter" }
        });


        $("#listView-Rate").kendoListView({
            template: kendo.template($("#template-Rate").html()),
            dataSource: groupedData,
            navigatable: true,
            selectable: true,
           /* filterable: {
            field: "ProductName",
                    operator: "startswith"
        },*/
        endlessScroll: true
        });

        /*$("#filterable-listview").kendoMobileListView({
            dataSource: dataSource,
            template: $("#mobile-listview-filtering-template").text(),

        });*/

        //new kendo.mobile.Application();
    }
</script>


<style>



</style>