<div data-role="ui-kit-view" data-title="UI Kit" data-model="APP.models.settings">
  <!--<h1 data-bind="html: title"></h1>-->

  <div id="menu_1" class="menu_1">
    <div class="menu_1-box">
      <span class="menu_1_left"></span>
      <h2>Page head</h2>
		<span class="menu_1_right">
			<ul class="menu_1_right_nav">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Login</a></li>
              <li class="last_menu"><a href="#">Logout</a></li>
            </ul>
		</span>
      <div class="clear"></div>
    </div>
    <script>
      /*$( "span.menu_1_left" ).click(function() {
       $( "ul.menu_1_left_nav" ).slideToggle( "slow", function() {
       // Animation complete.
       });
       });*/
    </script>
    <ul class="menu_1_left_nav">
      <li><a href="#">Profile</a></li>
      <li><a href="#">Login</a></li>
      <li class="last_menu"><a href="#">Logout</a></li>
    </ul>
  </div>

  <div class="login_1">
    <ul class="various-grid accout-login2">
      <h4>Login to Your Account</h4>
      <form>
        <label>Username</label>
        <li>
          <input type="text" class="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}"><a href="#" class=" icon user"></a>
        </li>
        <label>Password</label>
        <li>
          <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}"><a href="#" class=" icon lock"></a>
        </li>
      </form>
    </ul>
    <div class="but_3">
      <div class="submit">
        <input type="submit" onclick="myFunction()" value="Login">
        <h5>Forget Username or Password</h5>
      </div>
    </div>
    <ul class="social_login">
      <li><a href="#"><i class="fb"> </i><p>Login with Facebook</p>
        <div class="clear"> </div>
      </a></li>
    </ul>
  </div>


  <div class="twitter_widget_1">
    <div class="twit_1_banner">
      <div class="twit_1_img"><a href="#"><img src="images/twit_1_user.png" alt=""></a></div>
    </div>
    <ul class="twit_nav">
      <li><a href="#" class="twit_1"><p><span>Followers</span><br>1,573</p></a></li>
      <li><a href="#" class="twit_2"><p><span>Following</span><br>1,573</p></a></li>
      <li><a href="#" class="twit_3"><p><span>Tweets</span><br>1,573</p></a></li>
    </ul>
    <div class="latest_tweets">
      <h3>Latest Tweet</h3>
      <p>Check out this great <a href="#">#themeforest</a> item 'Just One Template - All In One Page' <a href="#">http://t.co/XNPys4hYQV</a></p>
      <p>yesterday</p>
    </div>
    <ul class="twit_1_social">
      <li><a href="#" class="s_twit"></a></li>
      <li><a href="#" class="s_dribble"></a></li>
      <li><a href="#" class="s_vimeo"></a></li>
      <li><a href="#" class="s_fb"></a></li>
    </ul>
  </div>

  <div class="img_box">
    <div class="img_section">
      <img src="images/pic3.jpg" alt="">
    </div>
    <div class="img_desc">
      <h3>eiusmod tempor incididunt</h3>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
    </div>
  </div>



  <div id="example">

    <div id="add-product" class="demo-section k-content">
      <div style="background: red"><p class="title">Add new product</p></div>
      <ul id="fieldlist">
        <li>
          <label for="currency">Price:</label>
          <input id="currency" type="number" value="30" min="0" max="100" style="width: 100%;" />
        </li>
        <li>
          <label for="percentage">Price Discount:</label>
          <input id="percentage" value="0.05" style="width: 100%;" />
        </li>
        <li>
          <label for="custom">Weight:</label>
          <input id="custom" value="2" style="width: 100%;" />
        </li>
        <li>
          <label for="numeric">Currently in stock:</label>
          <input id="numeric" type="number" value="17" min="0" max="100" step="1" style="width: 100%;" />
        </li>
      </ul>
    </div>


    <script>
      $(document).ready(function() {
        // create NumericTextBox from input HTML element
        $("#numeric").kendoNumericTextBox();

        // create Curerncy NumericTextBox from input HTML element
        $("#currency").kendoNumericTextBox({
          format: "c",
          decimals: 3
        });

        // create Percentage NumericTextBox from input HTML element
        $("#percentage").kendoNumericTextBox({
          format: "p0",
          min: 0,
          max: 0.1,
          step: 0.01
        });

        // create NumericTextBox from input HTML element using custom format
        $("#custom").kendoNumericTextBox({
          format: "#.00 kg"
        });
      });
    </script>

    <style>
      .demo-section {
        padding: 0;
      }

      #add-product .title {
        font-size: 16px;
        color: #fff;
        background-color: #1e88e5;
        padding: 20px 30px;
        margin: 0;
      }

      #fieldlist {
        margin: 0 0 -1.5em;
        padding: 30px;
      }

      #fieldlist li {
        list-style: none;
        padding-bottom: 1.5em;
      }

      #fieldlist label {
        display: block;
        padding-bottom: .6em;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: #444;
      }

    </style>

  </div>





  <style>

    /* Padding - just for asthetics on Bootsnipp.com */
   /* body {
      margin-top: 20px;
    }
*/
    /* CSS for Credit Card Payment form */
    .credit-card-box .panel-title {
      display: inline;
      font-weight: bold;
    }

    .credit-card-box .form-control.error {
      border-color: red;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    }

    .credit-card-box label.error {
      font-weight: bold;
      color: red;
      padding: 2px 8px;
      margin-top: 2px;
    }

    .credit-card-box .payment-errors {
      font-weight: bold;
      color: red;
      padding: 2px 8px;
      margin-top: 2px;
    }

    .credit-card-box label {
      display: block;
    }

    /* The old "center div vertically" hack */
    .credit-card-box .display-table {
      display: table;
    }

    .credit-card-box .display-tr {
      display: table-row;
    }

    .credit-card-box .display-td {
      display: table-cell;
      vertical-align: middle;
      width: 50%;
    }

    /* Just looks nicer */
    .credit-card-box .panel-heading img {
      min-width: 180px;
    }

  </style>




</div>