<div data-role="view" data-title="Utils" data-model="app.loginService.viewModel">

    <p><span data-bind="text: token"></span></p>

    <p><a data-role="button" data-align="left" data-icon="globe" data-click="ngLogin">ngLogin</a></p>
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kGetNode">kGetNode</a></p>
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kDeleteNode">kDeleteNode</a></p>
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kUpdateNode">kUpdateNode</a></p>

    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: onLogin">kLogin</a></p>
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: onLogout">kLogout</a></p>
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kToken">kToken</a></p>
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kConnect">kConnect</a></p>    
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kCreateNode">kCreateNode</a></p>
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kCreateOrder">kCreateOrder</a></p>
    <p><a data-role="button" data-align="left" data-icon="globe" data-bind="click: kUpdateOrder">kUpdateOrder</a></p>

    <p>
        <a data-role="button" data-align="left" data-icon="globe" data-click="kCreateTest">kCreateTest</a>
    </p>
</div>


<script>



    function ngToken() {
        var t = app.drupal._getToken();
        alert(app.drupal._token);
    }

    function ngConnect(){
        app.drupal.connect();
    }

    function ngLogout(){
        app.drupal.logout();
    }




    function kLogin(){
        var username = 'admin';
        var password = 'H4der222';
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "http://excitenet.co.uk/users-json/user/login.json",
                    data: { username: username, password: password},
                    dataType: "json" ,
                    type: "POST"
                }
            },
            schema: {
                model: { id: "nid" },
                data: function(result) {
                    //console.log(result);
                    return [result];
                }
            }
        });
        dataSource.fetch(function(){
            var dataItem = dataSource.at(0);
            var data = dataSource.data();
            console.log(dataItem.user.uid);
            console.log(dataItem.token);
            //console.log(data);
        });
    }

    function kLogout(){

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "http://excitenet.co.uk/users-json/user/logout.json",
                    beforeSend: function(req){
                        //req.setRequestHeader("Authorization",'Basic dXNlcjp1c2Vy');
                    },
                    dataType: "json" ,
                    //crossDomain: true,
                    type: "POST"

                }
            },
            schema: {

                /*
                 * Note: The returned json from transport read must be an array or
                 * you can assign the data property of schema an array property returned in the json (eg return [result.body]).
                 * json here from drupal contains a data propert that is conflicting with data object in the template
                 * the solution is to use the trick below: return [{"result":[result]}];
                 */
                data: function(result) {
                    // the data which the data source will be bound to is in the values field
                    //console.log(data.body);
                    return [{"result":[result]}];
                }
            }
        });
        dataSource.fetch(function(){
            var dataItem = dataSource.at(0);
            //console.log(dataItem.result[0].token);
            alert(dataItem.result[0].token); // displays "Jane Doe"
            //var dataItemWhichDoesNotExist = dataSource.at(3);
            //console.log(dataItemWhichDoesNotExist); // displays "undefined"
        });
    }


    function kToken() {

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "http://excitenet.co.uk/users-json/user/token",
                    dataType: "json",
                    //crossDomain: true,
                    type: "POST"

                }
            },
            schema: {

                /*
                 * Note: The returned json from transport read must be an array or
                 * you can assign the data property of schema an array property returned in the json (eg return [result.body]).
                 * json here from drupal contains a data propert that is conflicting with data object in the template
                 * the solution is to use the trick below: return [{"result":[result]}];
                 */
                data: function(result) {
                    // the data which the data source will be bound to is in the values field
                    console.log(result);
                    return [{"result":result}];
                }
            }
        });
        dataSource
                .fetch()
                .then(function(){
                    var data = dataSource.data();
                    var tkn = data[0].result.token;
                    alert(tkn);
                    console.log(tkn);

                });
    }

    function kConnect(){

        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "http://excitenet.co.uk/?q=users-json/system/connect.json",
                    beforeSend: function(req){
                        //req.setRequestHeader("Authorization",'Basic dXNlcjp1c2Vy');
                    },
                    //data: { username: userName, password: password},
                    dataType: "json",
                    //crossDomain: true,
                    type: "POST"

                }
            },
            schema: {

                /*
                 * Note: The returned json from transport read must be an array or
                 * you can assign the data property of schema an array property returned in the json (eg return [result.body]).
                 * json here from drupal contains a data propert that is conflicting with data object in the template
                 * the solution is to use the trick below: return [{"result":[result]}];
                 */
                data: function(result) {
                    // the data which the data source will be bound to is in the values field
                    //console.log(data.body);
                    return [{"result":[result.user]},
                        {sessid: "k-aLBjgXgZe0w9qRLgy7xwS0eN9dkE3ysp0RRnJcCJw",
                            session_name: "SESS6a00a81c9a0c9460f95b141841339c70"}];
                }
            }
        });

        //dataSource.fetch();
        dataSource.fetch(function(){

            var data = dataSource.data();
            //console.log(data.length);  // displays "77"
            //console.log(data[0].result[0]);
            //console.log(data[0].result[0].roles[1]);

            //var dataItem = dataSource.at(0);
            alert(data[1].sessid + ' - ' + data[0].result[0].roles[1]); // displays "Jane Doe"
            //var dataItemWhichDoesNotExist = dataSource.at(3);
            //console.log(dataItemWhichDoesNotExist); // displays "undefined"
        });
    }

    function kCreateNode(){
        var token = app.drupal._token;
        var requestData= {
            "type":"article",
            "title":"Page submitted via 3333",
            "body": {
                "value": "<p>test</p>\n",
                "format": "filtered_html"
            }
        };

        alert(token);
        //requestData = stringify(requestData);
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "http://excitenet.co.uk/users-json/node.json",
                    beforeSend: function(xhr){
                        xhr.setRequestHeader('X-CSRF-Token', token);
                        // xhr.setRequestHeader('Content-Type','application/json');

                    },
                    //data: { username: userName, password: password},
                    dataType: "json",
                    //crossDomain: true,
                    type: "POST",
                    data: requestData
                }
            },


            schema: {

                /*
                 * Note: The returned json from transport read must be an array or
                 * you can assign the data property of schema an array property returned in the json (eg return [result.body]).
                 * json here from drupal contains a data propert that is conflicting with data object in the template
                 * the solution is to use the trick below: return [{"result":[result]}];
                 */
                data: function(result) {
                    // the data which the data source will be bound to is in the values field
                    //console.log(data.body);
                    return [{"result":[result]}];
                }
            }
        });

        dataSource.bind("error", dataSource_error);

        //dataSource.fetch();
        dataSource.fetch(function(){

            var data = dataSource.data();
            alert(data[0].result[0].toString());

        });
    }

    function dataSource_error(e) {
        alert(e.status); // displays "error"
    }

    function dataSource_sync(e) {
        alert("sync complete");
    }

    function kCreateTest(){

        crudServiceBaseUrl = "http://excitenet.co.uk/users-json";
        //var token = app.loginService.viewModel.get("token").trim();
    
        //alert(token);
        var token = app.loginService.viewModel.token;
        var dataSource = new kendo.data.DataSource({
            //batch: true,
            transport: {

                create: function(options) {
                    // make JSONP request to http://demos.telerik.com/kendo-ui/service/products/create
                    $.ajax({
                        url: crudServiceBaseUrl + "/test.json",
                        beforeSend: function(xhr){
                            xhr.setRequestHeader('X-CSRF-Token', token);
                        },
                        dataType: "json", // "jsonp" is required for cross-domain requests; use "json" for same-domain requests
                        // send the created data items as the "models" service parameter encoded in JSON
                        data: {
                            models: kendo.stringify(options.data.models)
                        },
                        success: function(result) {
                            // notify the data source that the request succeeded
                            options.success(result);
                        },
                        error: function(result) {
                            // notify the data source that the request failed
                            options.error(result);
                        }
                    });
                }
                /*,
                parameterMap: function(data) {
                    return { models: kendo.stringify(data.models) };
                }*/
            },
            batch: true,
            pageSize: 20,
            schema: {
                model: {
                    id: "tid",
                    fields: {
                        tid: { editable: false, nullable: true, type: "number"},
                        name: { type: "string" },
                        status: { type: "number" },
                        email: { type: "string" }
                    }/**/
                },
                data: function (result) {
                    //console.log(result);
                    //obj = angular.fromJson(result);

                    return result;
                }
            }
        });
        dataSource.bind("sync", dataSource_sync);
        dataSource.add({"name":"ff","status":'2.0',"email":"wewew"});
        dataSource.sync();
    }


</script>



