<div data-role="view" id="view-components2" data-title="Profile"
     data-show="addTimer1" >


    <div class="ui middle aligned divided list">
        <div class="item">
            <div class="right floated content">
                <div class="ui button">Add</div>
            </div>
            <img class="ui avatar image" src="/images/avatar2/small/lena.png">
            <div class="content">
                Lena
            </div>
        </div>
        <div class="item">
            <div class="right floated content">
                <div class="ui button">Add</div>
            </div>
            <img class="ui avatar image" src="/images/avatar2/small/lindsay.png">
            <div class="content">
                Lindsay
            </div>
        </div>
        <div class="item">
            <div class="right floated content">
                <div class="ui button">Add</div>
            </div>
            <img class="ui avatar image" src="/images/avatar2/small/mark.png">
            <div class="content">
                Mark
            </div>
        </div>
        <div class="item">
            <div class="right floated content">
                <div class="ui button">Add</div>
            </div>
            <img class="ui avatar image" src="/images/avatar2/small/molly.png">
            <div class="content">
                Molly
            </div>
        </div>
    </div>


    <!--table-->
    <div class="ui segment">
        <table class="ui celled table compact small orange unstackable">
            <thead>
            <tr><th>Header</th>
                <th>Header</th>
                <th>Header</th>
            </tr></thead>
            <tbody>
            <tr>
                <td>
                    <div class="ui ribbon label">First</div>
                </td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Notes<br>
                    1<br>
                    2<br></td>
            </tr>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            </tbody>
            <tfoot>
            <tr><th colspan="3">
                <div class="ui right floated pagination menu">
                    <a class="icon item">
                        <i class="left chevron icon"></i>
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </th>
            </tr></tfoot>
        </table>

    </div>



    <div class="ui segment">

        <table class="ui celled table red unstackable">
            <thead>
            <tr>
                <th>Employee</th>
                <th>Correct Guesses</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <h4 class="ui image header">
                        <img src="images/people/ann.jpg" class="ui mini rounded image">
                        <div class="content">
                            Lena
                            <div class="sub header">Human Resources
                            </div>
                        </div>
                    </h4>
                </td>
                <td>
                    22
                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="ui image header">
                        <img src="images/people/eduardo.jpg" class="ui mini rounded image">
                        <div class="content">
                            Matthew
                            <div class="sub header">Fabric Design
                            </div>
                        </div>
                    </h4>
                </td>
                <td>
                    15
                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="ui image header">
                        <img src="images/people/daniel.jpg" class="ui mini rounded image">
                        <div class="content">
                            Lindsay
                            <div class="sub header">Entertainment
                            </div>
                        </div>
                    </h4>
                </td>
                <td>
                    12
                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="ui image header">
                        <img src="images/people/steve.jpg" class="ui mini rounded image">
                        <div class="content">
                            Mark
                            <div class="sub header">Executive
                            </div>
                        </div>
                    </h4>
                </td>
                <td>
                    11
                </td>
            </tr>
            </tbody>
        </table>

    </div>


    <!--Labels-->
    <div class="ui two column middle aligned very relaxed stackable grid">
        <div class="column">
            <div class="ui raised segment">
                <a class="ui red ribbon label">Overview</a>
                <span>Account Details</span>
                <p></p>
                <a class="ui blue ribbon label">Community</a> User Reviews
                <p></p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <a class="ui orange right ribbon label">Specs</a>
                <p></p>
                <a class="ui teal right ribbon label">Reviews</a>
                <p></p>

                <table class="ui celled table compact small orange very basic unstackable">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Approved</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>Jamie</td>
                    <td>Approved</td>
                    <td>Requires call</td>
                </tr>
                <tr>
                    <td>Jill</td>
                    <td>Denied</td>
                    <td>None</td>
                </tr>
                </tbody>
                <tfoot>
                <tr><th>3 People</th>
                    <th>2 Approved</th>
                    <th></th>
                </tr></tfoot>
            </table>
            </div>
        </div>
    </div>


</div>




<style>



</style>


<script type="text/javascript">

    function addTimer1(){

        $('.teal.button')
                .popup({
                    on: 'click'
                })
        ;
        $('input')
                .popup({
                    on: 'focus'
                })
        ;

        jQuery('.ui.dropdown')
            .dropdown({
                maxSelections: 3
            });


        jQuery('.ui.menu a.item')
            .on('click', function() {
                $(this)
                    .addClass('active')
                    .siblings()
                    .removeClass('active')
                ;
            });

        jQuery('.menu .browse')
            .popup({
                //inline   : true,
                hoverable: true,
                position : 'bottom left',
                delay: {
                    show: 300,
                    hide: 800
                }
            })
        ;

        $('.tabular.menu .item').tab();

    }


</script>