<div data-role="view" data-title="Checkout::Payment" data-model="app.checkoutService.viewModel"
     data-init="init_checkout_payment" id="checkout-payment-view" data-layout="second-layout">


  <div class="hero">
    <i class="fa fa-cart-plus"></i>
    <span>Recharge</span>
  </div>



  <div class="divider-green"></div>


  <form data-bind="events: { keyup: checkEnter }" id="checkout-form" data-id="checkout-form" data-navto-fn="checkoutComplete" >

    <fieldset>
      <legend><span>2</span> Card Details</legend>
      <ul data-role="listview" data-style="inset" data-bind="invisible: isLoggedIn">

        <li><!--First Name:-->
          <input type="text" data-bind="value: checkout.payment.card_holder" placeholder="Cardholder Name"/>
        </li>
        <div class="card-logos"></div>
        <li><!--Card number:-->
          <input type="text" data-bind="value: checkout.payment.card_number" placeholder="Credit Card Number"/>
        </li>
        <li id="exp-month-year"><!--Month/year:-->
          <input type="number" data-bind="value: checkout.payment.exp_month" placeholder="month"/> /
          <input type="number" data-bind="value: checkout.payment.exp_year" placeholder="year"/>
        </li>
        <li id="card-csc"><!--Csc:-->
          <input type="number" data-bind="value: checkout.payment.csc" placeholder="csc" class="card-csc"/>
          <span>3 digit on the back</span>
        </li>


      </ul>
    </fieldset>

    <input id="contact" type="button" data-bind="click: checkoutComplete, invisible: isLoggedIn"
           value="Submit" class="contact-button" data-role="button" />

    <div style="margin: 10px 0"> </div>


  </form>

</div>

<script>


  function init_checkout_payment(){


  }
</script>

<style>
  .card-logos {

    height: 50px;
      background: url(images/accepted-payment.png) no-repeat center center;
    -webkit-background-size: 100% auto;
    background-size: 60% auto;
  }

</style>