<div id="referrals-view" data-role="view" data-title="User Referrals" data-model="APP.models.settings">
  <div class="hero">User Referrals</div>
  <div id="listView" data-role="" class="" style="margin: 0 auto">
    <div id="referral-summary" style="margin: 0 auto">
      <table width="100%" border="0" cellspacing="1" cellpadding="3">
        <tbody>
        <tr>
          <td class="thin-border-right-white thin-border-bottom-white">
            <dl>
              <dt>Referred Users</dt>
              <dd>20</dd>
            </dl>
          </td>
          <td class="thin-border-bottom-white">
            <dl>
              <dt>Commission Total</dt>
              <dd>&pound; 78</dd>
            </dl>
          </td>

        </tr>
        <tr>
          <td class="thin-border-right-white">
            <dl>
              <dt>Commission Total</dt>
              <dd>&pound; 78</dd>
            </dl>
          </td>
          <td>
            <dl>
              <dt>Payment Received</dt>
              <dd>&pound; 55</dd>
            </dl>
          </td>
        </tr>
        </tbody>

      </table>
    </div>
  </div>

 <!-- <ul id="list-View" data-role="listview" data-style="inset">
    <li><a href="#views/tmp/grid.html" data-icon="globe" data-transition="none">grid</a></li>
    <li><a href="views/settings.html" data-icon="settings" data-transition="none">Settings</a></li>
    <li><a href="views/gallery.html" data-icon="camera" data-transition="none">Gallery</a></li>
    <li><a href="views/menu.html" data-icon="camera" data-transition="none">Menu</a></li>
  </ul>-->

  <ul data-role="listview" data-source="groupedData"
      data-template="my-template" data-style="inset">

  </ul>

  <script type="text/x-kendo-template" id="my-template">
      <a href="\\#" class="km-listview-link" ><i class="fa  ${font_icon}"> </i> #=name# </a>
  </script>

  <script type="text/x-kendo-template" id="header-template">
    #: value #
  </script>

  <script>
    var groupedData = new kendo.data.DataSource({
      data: [
        { name: "Referred Users", description: "Referred Users", font_icon:"fa-user-plus" },
        { name: "Topup by Balance Transfer", description: "Topup by Balance Transfer.", font_icon:"fa-cart-plus" },
        { name: "Topup by Voucher Code", description: "Topup by Voucher Code.", font_icon:"fa-tags" },
        { name: "Referral Commissions", description: "Referral Commissions.", font_icon:"fa-briefcase" },
        { name: "Commission Payments", description: "Commission Payments.", font_icon:"fa-money" }
      ]
      //,
      //group: { field: "letter" }
    });

    //new kendo.mobile.Application();
  </script>
</div>


<style>


  #referrals-view .km-list>li {
    line-height: 2em;
    overflow: hidden;
  }

  #referrals-view .hero {
    /*
    display: block;
    margin: 0;
    padding-left: .5em;
    height: 110px;
    line-height: 110px;
    font-size: 18px;
    color: rgba(255,255,255,.85);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;*/
    background: url(images/lg/324.jpg) no-repeat left top;
  }



  #select-period {
    margin: 3em auto;
  }
  #buttongroup-home .km-list span {
    float: right;
  }



  #referral-summary{
    padding: 0;
    margin: 1px auto 10px;
    border-top: 3px solid green;
    background-color: green;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background: url(images/lg/73.jpg) no-repeat left top;
    color: #fff;
  }

  #referral-summary table td{
    padding: 5px;
    /*border: 1px solid #ddd;*/
  }

  #referral-summary dl{
    text-align: center;
    /*font-size: 0.9em;*/
  }
  #referral-summary dl dt{
    margin: 0 0 1em;
  }
  #referral-summary dl dd{
    margin: 0;
  }

  #referral-summary .jt-icon{
    text-align: right;
    /*float: right;
    font-size: 1.5em;*/
  }




  /* @media only screen and (max-width : 620px) {

       .grid-widget
       {
           width: 100%;
       }
       .grid-widget:nth-child(even) {
           border-left-width: 1px;
       }
   }*/
</style>