<div data-role="view" data-title="Settings" data-model="app.checkoutService.viewModel"
     data-init="init_topup" data-show="show_topup" id="topup-view">


      <div class="hero">
        <i class="fa fa-cart-plus"></i>
        <span>Recharge</span>
      </div>

      <div class="divider-green"></div>

      <form data-bind="events: { keyup: checkEnter }" data-navto-fn="checkoutBilling">
          <div class="jt-center">

            <select id="topup-amounts" data-role="dropdownlist" style="width: 100%;"
                    data-bind="value: selected_product.product_id, source: products, events: { change: checkout.topup.onChange }">

            </select>

          </div>

          <input id="change-topup-amount" type="button"
                 data-click="changeTopupAmount"
                 value="Change Topup Amount"
                 class="contact-button" data-role="button" />

          <input id="topup-buy-now" type="submit"
                 data-bind="click: checkoutBilling, invisible: isLoggedIn"
                   value="Buy now" class="contact-button" data-role="button" />

          <div style="margin: 10px 0"> </div>
      </form>



</div>

<script>

    // create ComboBox from select HTML element
    $("#size").kendoComboBox();


  function changeTopupAmount(){
      jQuery('#topup-amounts').trigger('click');
  }

  function init_topup(){
      app.checkoutService.viewModel.getProduct(0);
  }

  function show_topup() {
      //app.checkoutService.viewModel.getProduct(0);

      $("#topup-amounts").kendoDropDownList({
          dataTextField: "commerce_price_formatted",
          dataValueField: "product_id"
      });
  }


</script>
