/* IMAGES */
.km-drawer-button:before, .km-drawer-button:after  {
    content: "\E077";
    font-size: 1.2em;
    color: rgba(107, 106, 106, 0.8);
}
.welcome-image {
    background-image: url(../styles/images/appbuilder.png);
    background-repeat: no-repeat;
    width: 320px;
    height: 250px;
    display: block;
    margin: 0px auto;
}

/* LOGIN VIEW STYLES */


/* LOCATION VIEW STYLES */
.map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.map-tools {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.map-tools > div {
    position: relative;
    text-align: center;
    height: 100%;
}

.map-tools .map-tools-button {
    position: absolute;
    top: 0;
    width: 60px;
    height: 100%;
    color: #fff;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
}
.map-tools .map-tools-button:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}

.map-tools .map-tools-button.home {
    left: 0;
}
.map-tools .map-tools-button.search {
    right: 0;
}
.map-tools .map-tools-button.home:before { background-image: url(../styles/images/location.png); }
.map-tools .map-tools-button.home:active:before { background-image: url(../styles/images/location_active.png); }
.map-tools .map-tools-button.search:before { background-image: url(../styles/images/search.png); }
.map-tools .map-tools-button.search:active:before { background-image: url(../styles/images/search_active.png); }

.map-tools input[type=search].map-tools-input {
    height: 100%;
    width: 65%;
    margin: 1em 0;
    padding: 0.5em 1em;
}
.km-wp .map-tools input[type=search].map-tools-input {
    width: 50%;
}

/* WEATHER VIEW STYLES */
.w-icon {
    width: 32px;
    height: 32px;
    background-image: url(../styles/images/sprite-weather.png);
    background-repeat: no-repeat;
}
.w-icon.sunny { background-position: 0px 0px; }
.w-icon.cloudy { background-position: 0px -32px; }
.w-icon.partly-cloudy { background-position: 0px -64px; }
.w-icon.partly-sunny { background-position: 0px -96px; }
.w-icon.shower { background-position: 0px -128px; }
.w-icon.foggy { background-position: 0px -160px; }
.w-icon.storm { background-position: 0px -192px; }

.w-item-template:after {
    clear: both;
}
.w-item-template > .w-icon {
    float: left;
}
.w-item-template > .w-date {
    float: left;
    margin: 0.5em 0 0 1em;
}
.w-item-template > .w-temp {
    float: right;
    margin-top: 0.2em;
}
.w-item-template > .w-temp > span:last-of-type {
    opacity: 0.5;
}

/* SPECIFICS */
.km-android input[type=text]:not(.k-input),
.km-android input[type=password]:not(.k-input) {
    padding: 0.25em 1em;
}

/* RETINA DISPLAY STYLES */
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    .welcome-image {
        background-image: url(../styles/images/appbuilder2x.png);
        background-size: 100%;
    }
    .w-icon {
        background-image: url(../styles/images/sprite-weather2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.home {
        background-image: url(../styles/images/location2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.home:active {
        background-image: url(../styles/images/location_active2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.search {
        background-image: url(../styles/images/search2x.png);
        background-size: 100%;
    }
    .map-tools .map-tools-button:before.search:active {
        background-image: url(../styles/images/search_active2x.png);
        background-size: 100%;
    }
}

/*******
JUSTUTALK SPECIFICS
********/


/** CUSTOM BUTTONS STYLES**/



.hero {
    display: block;
    overflow: hidden;
    margin: 0;
    padding-left: .5em;
    height: 110px;
    line-height: 110px;
    font-size: 18px;
    color: rgba(255,255,255,.85);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    background: url(../images/header/5.jpg) no-repeat center center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

.hero2 {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 1em;
    height: 140px;
    /*
    line-height: 110px;
    font-size: 18px;
    color: rgba(255,255,255,.85);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    */
    background: url(../images/header/5.jpg) no-repeat center center;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
}

/*****************Vertical align ---------------*/
.parent-v-align {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/**************************/
#appDrawer .km-content{

    background-color: #004b5c;
}

#appDrawer .km-list>li {
    color: #FFF;
}


/*************************/
.messages > .k-widget.k-tooltip-validation {
    width: 100%;
    text-align: left;
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
}

.invalid {
    color: red;
}


/****************Profile ***************/
.profile-header {
    text-align: center;
    background: red;
    height: 150px;
    margin: 0 auto;
    width: 100%;
    vertical-align: middle;
    display: table;
    position: relative;

    z-index: 100;
    background: transparent;
}

/*.profile-header .img-wrapper {
    border-radius: 50%;
    border: 2px solid #bbb;
    height: 50%;
    width: 40%;
    /!* margin: auto; *!/
    vertical-align: middle;
    /!* display: table-cell; *!/
    top: 50%;
    position: absolute;
    left: 50%;
    margin: -25% 0 0 -20%;
}

.profile-header .img-wrapper {
    border-radius: 50%;
    border: 2px solid #bbb;
    height: 50%;
    width: 40%;
    vertical-align: middle;
    margin: 25px auto 0;
}*/

.profile-header .img-wrapper img{
    border-radius: 50%;
    border: 2px solid #bbb;
    /*height: 50%;*/
    width: 25%;
    vertical-align: middle;
    margin: 10px auto 0;

}

.profile-title, .profile-sub-title{
    margin: .5em;
    color: #fff;
    font-size: 1.1em;
    font-weight: 700;
}
.profile-sub-title{

    font-size: 1em;
    font-weight: normal;
}



/************** Modal ****************/

/*
.border-top-green, .border-top-blue, .border-top-red,
.border-left-green,.border-left-blue, .border-top-red{
    margin: 10px 0;
}
*/

/*************************************/
.km-ios7 .k-list,
.km-ios7 .k-slider,
.km-ios7 .km-widget {
    color: #223200;
}

.km-ios7 .km-pages {
    padding: 1.5em;
}


.km-tabstrip .km-button {
    font-size: .9em!important;
    display: table-cell;
    border: 0;
    padding: .6em .8em .195em;
    line-height: 1em;
}


/********** Ions *********************/
.km-detail .km-icon,
.km-button .km-icon,
.km-list .km-icon,
.km-ios .km-button .km-icon {
    /*margin-right: 1em;   */
}

#menu-items .km-icon
{
    width: 1em;
    height: 1em;
    font-size: 1em;
    /*margin-left: 0;*/
    margin-right: 0;
    vertical-align: baseline;
    display: inline-block;
    background-size: auto 100%;
    color: #fff;
    font-size: 1.5em;

}

.memu-logo img{
    width: 25%;
}

.memu-logo {
    margin: 50px 0 0;
    text-align: center;
}

.memu-logo h3 {
    margin: 0 0 30px;
    text-align: center;
    color: #fff;
    font-style: italic;
}


/********* background gradient/color *********/
.primary-gradient-h{
    background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #223200),
            color-stop(1, #8CC700)
    );
    background-image: -o-linear-gradient(right, #223200 0%, #8CC700 100%);
    background-image: -moz-linear-gradient(right, #223200 0%, #8CC700 100%);
    background-image: -webkit-linear-gradient(right, #223200 0%, #8CC700 100%);
    background-image: -ms-linear-gradient(right, #223200 0%, #8CC700 100%);
    background-image: linear-gradient(to right, #223200 0%, #8CC700 100%);
}

.primary-gradient-v{
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #223200),
            color-stop(1, #8CC700)
    );
    background-image: -o-linear-gradient(bottom, #223200 0%, #8CC700 100%);
    background-image: -moz-linear-gradient(bottom, #223200 0%, #8CC700 100%);
    background-image: -webkit-linear-gradient(bottom, #223200 0%, #8CC700 100%);
    background-image: -ms-linear-gradient(bottom, #223200 0%, #8CC700 100%);
    background-image: linear-gradient(to bottom, #223200 0%, #8CC700 100%);
}

.green-gradient-bg{
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.16, #0B752D),
            color-stop(1, #A6ED76)
    );
    background-image: -o-linear-gradient(top, #0B752D 16%, #A6ED76 100%);
    background-image: -moz-linear-gradient(top, #0B752D 16%, #A6ED76 100%);
    background-image: -webkit-linear-gradient(top, #0B752D 16%, #A6ED76 100%);
    background-image: -ms-linear-gradient(top, #0B752D 16%, #A6ED76 100%);
    background-image: linear-gradient(to top, #0B752D 16%, #A6ED76 100%);
}

body {
    background: url(../images/lg/198.jpg) no-repeat 45% 6% transparent;
}

.content-bg-green .km-content{
    background: url(../images/lg/198.jpg) no-repeat 45% 6% transparent;
}

#appDrawer .km-content{
    background: url(../images/lg/183.jpg) no-repeat 30% top transparent;
}

.content-bg-green .km-content h1{
    color: #fff;
}

.jt-center{
    text-align: center;
}



/**************Listview**************/
.km-group-container .km-list>li {
    font-size: 1em;
    padding-left: 1em;
    background: transparent;
    border-radius: 0;
    border-width: 1px 0 0;
    border-style: none;
}

.km-listview-link{
    font-size: 1em;
    padding-left: 1em;
    background: transparent;
    border-radius: 0;
    border-width: 1px 0 0;
    border-style: none;
}


.km-list li>.km-listview-link:hover {
    background: #8CC700;
    color: #fff;;
}

/********  Title  ********/
.title-box.text-center:before {
    left: 50%;
    margin-left: -20px;
}

.title-box:before {
    background: #eee;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    margin: 0 0 -1px;
    position: absolute;
    width: 40px;
}

.text-center {
    text-align: center;
}


.title-box {
    border-bottom: 1px solid #ddd;
    border-bottom-width: 1px;
    /*margin-bottom: 40px;*/
    position: relative;
}

.title-box .title {
    color: #1e1e1e;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 12px 0;
    padding: 14px 0 0;
}

.title-box .title.text-white{
    color: #fff;
}


/********  Title  ********/
/*
    title style 1
    */

h1.title{
    font-size:1.5em;
}


/******** Round Widget *******/
.round-widget-wrapper{
    display: block;
    overflow: hidden;
    margin: 10px auto;
}

.round-widget .widget-icon {
    width: 70px;
    height: 70px;
    border: 2px solid #bbb;
    border-radius: 50%;
    line-height: 70px;
    /*font-size: 25px;*/
}

.round-widget .widget-text {
    /*width: 70px;
    height: 70px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 70px;
    font-size: 25px;*/
}

a.round-widget {
    width: 70px;
    /* height: 70px; */
    font-size: .9em;
    text-align: center;
    display: inline-table;
    overflow: hidden;
    margin: 10px;
    text-decoration: none;
    color: #fff;
}
a.round-widget .widget-icon:hover {
    background-color: #8CC700;
}



/*********************************************/
/******** User Popover ********/
/*.km-group-container .km-list>li {
    font-size: 1em;
    padding-left: 1em;
    background: #547700;
    border-radius: 0;
    border-width: 1px 0 0;
    border-style: none;
    color: #fff;
}*/

.km-listview-link:after, .km-listview-label:after {
    border-color: #777;
    content: "\a0";
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    margin-top: -0.32rem;
}




/******** *****************/
#icons ul
{
    margin: 20px auto 0;
    display: block;
    text-align: left;
    white-space: normal;
}

#icons ul li
{
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
    list-style: none;
    font-size: 12px;
    min-width: 140px;
}
.k-icon {
    margin-right: 5px;
}

#login-form {
    margin: 45px 15px 0;
}

#login-form ul{
    margin: 45px 0 25px;
}

#login-form #login, #login-form #register {
    background-color: rgb(140, 199, 0);
    color: #fff;
}

#login-form p {
    margin-top: 10px;
    text-align: center;
}

#login-form p a {
    text-decoration: none;
    font-size: .8em;
}

#login-form .km-listview-wrapper {
    width: 79%;
    margin: 0 auto;
}

#login-form .km-list input[type=password],
#login-form .km-list input[type=text]:not(.k-input)
    /*.km-ios7 .km-list input[type=search],
    .km-ios7 .km-list input[type=number],
    .km-ios7 .km-list input[type=tel],
    .km-ios7 .km-list input[type=url],
    .km-ios7 .km-list input[type=email],
    .km-ios7 .km-list input[type=month],
    .km-ios7 .km-list input[type=color],
    .km-ios7 .km-list input[type=week],
    .km-ios7 .km-list input[type=date],
    .km-ios7 .km-list input[type=time],
    .km-ios7 .km-list input[type=datetime],
    .km-ios7 .km-list input[type=datetime-local],
    .km-ios7 .km-list select:not([multiple]),
    .km-ios7 .km-list .k-dropdown-wrap,
    .km-ios7 .km-list textarea*/ {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 1.1rem;
    min-width: 8em;
    border: 0;
    padding: .4em;
    outline: 0;
    left: 2em;
    background: transparent;
}

.login-button {
    margin: 0 auto;
    display: block;
    width: 80%;
}



.item-list img {
    width: 4em;
    height: 4em;
    width: 4rem;
    height: 4rem;
    float: left;
    margin-right: 1em;
    margin-right: 1rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 3px;
    margin-left: 2px;
}


/*********** Checkout **************/

#checkout-form #exp-month-year>input,
#checkout-form #card-csc>input{
    width:47%;
}
#checkout-form #card-csc span{
    font-size:0.7em;
}
.card-csc{
    margin-top:1em;
}

#checkout-form .k-dropdown {
    text-align: left;
}


fieldset {
    border: .2em solid #eee;
    margin: .5em;
}

fieldset legend{
    text-align: left;
    font-weight: 700;
    padding: 0 5px;
}

fieldset legend span {
    background-color: #eee;
    text-align: center;
    width: 25px;
    padding: 0 5px;
    display: inline-block;
}

.k-textbox,
.k-autocomplete,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap {
    border-width: 1px;
    border-style: solid;
    padding: 0 1.9em 0 0;
    border-color: #eee;
    height: 2em;
}
.topup-amounts{
    border-color: #999;
}

#topup-view .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 21px;
    -moz-osx-font-smoothing: grayscale;
    width: 11px;
}

#contact-info li span{
    margin: 10px;

}

#checkout-form .km-list>li {
    font-size: 1em;
    padding: .5em .3em;
    background: transparent;
    border-radius: 0;
    border-width: 0;
    border-style: none;
    border-image: none;
}

#checkout-form .k-dropdown .k-input{
    font-size: 1em;
}

#topup-view .k-textbox>input,
#topup-view .k-autocomplete .k-input,
#topup-view .k-picker-wrap .k-input,
#topup-view .k-numeric-wrap .k-input,
#topup-view .k-dropdown-wrap .k-input,
#topup-view .k-selectbox .k-input {
    height: 1.65em;
    line-height: 1.65em;
    /*padding: .177em 0;
    text-indent: .33em;
    border: 0;
    margin: 0;*/
}

#topup-view .k-textbox,
#topup-view .k-autocomplete,
#topup-view .k-dropdown-wrap,
#topup-view .k-picker-wrap,
#topup-view .k-numeric-wrap {
    border-width: 1px;
    border-style: solid;
    padding: 0 0 0 0;
    border-color: #eee;
    height: 4em;
}

/*

.k-icon {
    margin-right: 5px;
}
*/

#checkout-form, #contact-info {
    margin: 0 10px 0;
}

#checkout-form ul{
    /*margin: 45px 0 25px;*/
}

#checkout-form #contact, #checkout-form #register {
    background-color: rgb(140, 199, 0);
    color: #fff;
}

#checkout-form p {
    margin-top: 10px;
    text-align: center;
}

#checkout-form p a {
    text-decoration: none;
    font-size: .8em;
}

#checkout-form .km-listview-wrapper {
    width: 100%;
    margin: 0 auto;
}

.km-label-above, label.km-inline-field {
    font-size: .72em;
    line-height: 1.2em;
}
.km-label-above {
    width: 100%;
    font-size: .87em;
    display: block;
    margin-top: -1.3em;
    padding-top: .92em;
    padding-bottom: 3.3em;
    margin-bottom: -2em;
}

.contact-button {
    margin: 0 auto;
    display: block;
    width: 100%;
    font-size: 1.1em;
}

#contact[type=submit]{
    font-size: 1.1em;
}

#contact.km-button {
    font-size: 1.1em;
}



.item-list img {
    width: 4em;
    height: 4em;
    width: 4rem;
    height: 4rem;
    float: left;
    margin-right: 1em;
    margin-right: 1rem;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 3px;
    margin-left: 2px;
}


#checkout-form .km-list input[type=text]:not(.k-input),
#checkout-form .km-list input[type=password],
#checkout-form .km-list input[type=search],
#checkout-form .km-list input[type=number],
#checkout-form .km-list input[type=tel],
#checkout-form .km-list input[type=url],
#checkout-form .km-list input[type=email],
#checkout-form .km-list input[type=file],
#checkout-form .km-list input[type=month],
#checkout-form .km-list input[type=color],
#checkout-form .km-list input[type=week],
#checkout-form .km-list input[type=date],
#checkout-form .km-list input[type=time],
#checkout-form .km-list input[type=datetime],
#checkout-form .km-list input[type=datetime-local],
#checkout-form .km-list select:not([multiple]),
#checkout-form .km-list .k-dropdown,
#checkout-form .km-list textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    position: static;
    top: 50%;
    line-height: normal;
    z-index: 1;
    right: 0;
    margin-top: 0;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}


#checkout-form .km-widget .km-list textarea {
    position: relative;
    float: none;
    margin-top: 0;
    font-family: inherit;
}
#checkout-form textarea {
    padding: 5px;
    float: none!important;
}

#month-year-csc input{
    width:30%
}

.km-ios7 .km-view .km-content .km-button {
    background-color: rgb(140, 199, 0);
    color: #fff;
}


/********* **********/
a.km-listview-link:hover {
    background-color: rgba(140, 199, 0, 1);
}

/*********** Font Awesome **************/
.fa {
    /*margin-right: 1em;
    margin-left: -0.3em;*/
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*
.km-tabstrip .fa {
    font-size: 1.6rem;
    height: 1.6rem;
}
.km-phone .km-tabstrip .fa {
    height: 2.2rem;
    width: 2.2rem;
    font-size: 2.2rem;
}
.km-tabstrip .km-image,
.km-tabstrip .km-button .fa {
    margin: 0 auto .1em;
    display: inline-block;
}
.km-tabstrip .km-button .fa {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
}*/

/***********Custom Fonts**************/
/*
      define custom icon names, full list of available icons can be found at:
      http://docs.telerik.com/kendo-ui/mobile/icons
*/


.km-folder-close:after,
.km-folder-close:before {
    content: "\e0a1";
}

.km-folder-open:after,
.km-folder-open:before {
    content: "\e0a2";
}

.km-arrow-up:after,
.km-arrow-up:before {
    content: "\e011";
}

.km-arrow-down:after,
.km-arrow-down:before {
    content: "\e012";
}

.km-plus:after,
.km-plus:before {
    content: "\e039";
}

.km-minus:after,
.km-minus:before {
    content: "\e03a";
}

.km-envelope-close:after,
.km-envelope-close:before {
    content: "\e099";
}

.km-envelope-open:after,
.km-envelope-open:before {
    content: "\e09a";
}

.km-sms-light:after,
.km-sms-light:before {
    content: "\e092";
}
.km-sms-dark:after,
.km-sms-dark:before {
    content: "\e091";
}
.km-mobile-light:after,
.km-mobile-light:before {
    content: "\e101";
}
.km-battery-dark:after,
.km-battery-dark:before {
    content: "\e303";
}
.km-battery-light:after,
.km-battery-light:before {
    content: "\e203";
}
.km-windows:after,
.km-windows:before {
    content: "\e0ac";
}
.km-speed:after,
.km-speed:before {
    content: "\e20d";
}
.km-heart-light:after,
.km-heart-light:before {
    content: "\e045";
}
.km-pyramid:after,
.km-pyramid:before {
    content: "\e0be";
}
.km-calender:after,
.km-calender:before {
    content: "\e089";
}


.km-lock-close:after,
.km-lock-close:before {
    content: "\e0ff";
}
.km-lock-open:after,
.km-lock-open:before {
    content: "\e100";
}

.km-sign-in:after,
.km-sign-in:before {
    content: "\e0b2";
}
.km-sign-out:after,
.km-sign-out:before {
    content: "\e0b3";
}

.km-user:after,
.km-user:before
{
    content: "\e319";
}

.km-message:after,
.km-message:before
{
    content: "\e099";
}
.km-password:after,
.km-password:before
{
    content: "\e0b1";
}

.km-arrow-e:after,
.km-arrow-e:before
{
    content: "\e000";
}

.km-phone-e:after,
.km-phone-e:before
{
    content: "\e226";
}

.km-more-v:after,
.km-more-v:before
{
    content: "\e0e1";
}
