<div data-role="view" data-title="Our Apps" data-model="APP.models.settings" class="" id="apps-view">

    <!--Header-->
   <!-- <div data-role="header">
        <div data-role="navbar">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <span data-role="view-title"></span>
        </div>

    </div>-->
    <div class="hero">Our Apps</div>

    <div class="divider-green"></div>
    <ul id="menu-items" class="additional-icons " data-role="listview" >
        <div class="square-widget-extra-small-wrapper jt-center">
            <li class="square-widget-extra-small bg-grey">
                <a href="#views/home.html" >
                    <div class="widget-icon">
                        <span class="km-icon km-mobile-light"></span>
                    </div>
                    <div class="widget-title">Mobile Apps</div>
                </a>
            </li>
            <li class="square-widget-extra-small bg-red">
                <a href="#views/home.html" class="">
                    <div class="widget-icon">
                        <span class="km-icon km-windows"></span>
                    </div>
                    <div class="widget-title">PC Apps</div>
                </a>
            </li>
            <li class="square-widget-extra-small bg-green">
                <a href="#views/home.html" class="">
                <div class="widget-icon">
                    <span class="km-icon km-sms-light"></span>
                </div>
                <div class="widget-title">International SMS</div>
            </a>
            </li>


            <li class="square-widget-extra-small bg-blue">
                <a href="#views/home.html" class="">
                <div class="widget-icon">
                    <span class="km-icon km-cart"></span>
                </div>
                <div class="widget-title">Mobile Recharge</div>
            </a>
            </li>
            <li class="square-widget-extra-small bg-orange">
                <a href="#views/home.html" class="">
                    <div class="widget-icon">
                        <span class="km-icon km-sms-light"></span>
                    </div>
                    <div class="widget-title">International SMS</div>
                </a>
            </li>
            <li class="square-widget-extra-small bg-blue-dark">
                <a href="#views/home.html" class="">
                    <div class="widget-icon">
                        <span class="km-icon km-cart"></span>
                    </div>
                    <div class="widget-title">Mobile Recharge</div>
                </a>
            </li>


            <li class="square-widget-extra-small bg-red-dark">
                <a href="#views/home.html" class="">
                    <div class="widget-icon">
                        <span class="km-icon km-cart"></span>
                    </div>
                    <div class="widget-title">Mobile Recharge</div>
                </a>
            </li>
            <li class="square-widget-extra-small bg-orange-dark">
                <a href="#views/home.html" class="">
                    <div class="widget-icon">
                        <span class="km-icon km-sms-light"></span>
                    </div>
                    <div class="widget-title">International SMS</div>
                </a>
            </li>
            <li class="square-widget-extra-small bg-green-dark">
                <a href="#views/home.html" class="">
                    <div class="widget-icon">
                        <span class="km-icon km-cart"></span>
                    </div>
                    <div class="widget-title">Mobile Recharge</div>
                </a>
            </li>
        </div>


    </ul>


</div>

<style>
    .hero {
        display: block;
        margin: 0;
        padding-left: .5em;
        height: 110px;
        line-height: 110px;
        font-size: 18px;
        color: rgba(255,255,255,.85);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
        background: url(images/header/5.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }




</style>