<div data-role="view" data-title="Our Apps" data-model="APP.models.settings" class="" id="apps-view">

    <!--Header-->
   <!-- <div data-role="header">
        <div data-role="navbar">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <span data-role="view-title"></span>
        </div>

    </div>-->
    <div class="hero">Our Apps</div>

    <div class="divider-green"></div>
    <ul id="menu-items" class="additional-icons " data-role="listview" >
        <div class="round-widget-small-wrapper jt-center">
            <li class="round-widget-small bg-grey">
                <a href="#views/home.html" >
                    <div class="widget-icon">
                        <span class="km-icon km-mobile-light"></span>
                    </div>
                    <div class="widget-title">Mobile Apps</div>
                </a>
            </li>
            <li class="round-widget-small bg-red">
                <a href="#views/home.html" class="">
                    <div class="widget-icon">
                        <span class="km-icon km-windows"></span>
                    </div>
                    <div class="widget-title">PC Apps</div>
                </a>
            </li>
            <li class="round-widget-small bg-orange">
                <a href="#views/home.html" class="">
                <div class="widget-icon">
                    <span class="km-icon km-sms-light"></span>
                </div>
                <div class="widget-title">International SMS</div>

            </a>
            </li>
            <li class="round-widget-small bg-blue">
                <a href="#views/home.html" class="">
                <div class="widget-icon">
                    <span class="km-icon km-cart"></span>
                </div>
                <div class="widget-title">Mobile Recharge</div>

            </a>
            </li>
        </div>


    </ul>


</div>

<style>
    .hero {
        display: block;
        margin: 0;
        padding-left: .5em;
        height: 110px;
        line-height: 110px;
        font-size: 18px;
        color: rgba(255,255,255,.85);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
        background: url(images/header/5.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }

    .round-widget-small-wrapper{
        display: block;
        overflow: hidden;
        margin: 0 auto;
    }

    /*.round-widget-small .widget-icon {
        width: 70px;
        height: 70px;
        border: 2px solid #bbb;
        border-radius: 50%;
        line-height: 70px;
        !* font-size: 25px; *!
        text-align: center;
        margin: 0 auto;
    }*/

    .round-widget-small .widget-icon {
        width: 70px;
        /* height: 70px; */
        /* border: 2px solid #bbb; */
        /* border-radius: 50%; */
        /* line-height: 70px; */
        /* font-size: 25px; */
        text-align: center;
        margin: 0 auto;
    }

    .round-widget-small .widget-title {
        /*width: 70px;
        height: 70px;
        border: 1px solid;
        border-radius: 50%;
        line-height: 70px;*/
        font-size: 1em;
        color: #333;
        margin: 5px 0;
    }

    .round-widget-small .widget-text {
        font-size: .9em;
    }



    a.round-widget-small {
        width: 48%;
        /* height: 70px; */
        /* font-size: 15px; */
        text-align: center;
        display: inline-table;
        overflow: hidden;
        margin: 2px;
        text-decoration: none;
        /* color: #fff; */
        min-height: 310px;
        border: 1px solid #ddd;
        padding: 1em .6em;
        border-radius: 5px;
    }
    /*li.round-widget-small {
        width: 48%;
        !* height: 70px; *!
        !* font-size: 15px; *!
        text-align: center;
        display: inline-table;
        overflow: hidden;
        margin: 2px;
        text-decoration: none;
        !* color: #fff; *!
        min-height: 310px;
        border: 1px solid #ddd;
        !*padding: 1em .6em;*!
        border-radius: 5px;
        background-color: #eee;
    }*/

   /* li.round-widget-small {
        width: 49%;
        !* height: 70px; *!
        !* font-size: 15px; *!
        text-align: center;
        display: inline-table;
        overflow: hidden;
        margin: 1px 0;
        text-decoration: none;
        !* color: #fff; *!
        min-height: 124px;
        !* border: 1px solid #ddd; *!
        !* padding: 1em .6em; *!
        !* border-radius: 5px; *!
        background-color: #eee;
    }*/

    li.round-widget-small {
        width: 49%;
        /* height: 70px; */
        /* font-size: 15px; */
        text-align: center;
        display: inline-table;
        overflow: hidden;
        margin: 1px 0;
        text-decoration: none;
        /* color: #fff; */
        min-height: 91px;
        /* border: 1px solid #ddd; */
        /* padding: 1em .6em; */
        /* border-radius: 5px;
        background-color: #eee;*/
    }

    li.round-widget-small a {
        width: 98%;
        height: 70px;
        /* font-size: 15px; */
        /* text-align: center; */
        /* display: inline-table; */
        /* overflow: hidden; */
        /* margin: 5px; */
        text-decoration: none;
        /* color: #fff; */
        /* min-height: 310px; */
        /* border: 1px solid #ddd; */
        padding: 1em .6em;
        /* border-radius: 5px; */
        /* background-color: #eee; */
        display: block;
    }

    #apps-view #menu-items .km-icon {
        width: initial;
        height: 1em;
        font-size: 1em;
        margin-left: 0;
        margin-right: 0;
        vertical-align: baseline;
        display: inline-block;
        /* background-size: auto 100%; */
        color: #999;
        font-size: 2.5em;
    }


</style>