<div data-role="view" data-title="Our Apps" data-model="APP.models.settings" class="" id="apps-view">

    <!--Header-->
   <!-- <div data-role="header">
        <div data-role="navbar">
            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>
            <span data-role="view-title"></span>
        </div>

    </div>-->
    <div class="hero">Our Apps</div>

    <div class="divider-green"></div>


    <ul id="menu-items" class="additional-icons " data-role="listview" >
        <div class="row-nav-large-wrapper jt-center">

            <div class="my-container">
                <h1>Scotch Scotch Scotch</h1>
            </div>

            <li class="row-nav-large bg-grey row-nav-large-bg-01">
                <a href="#views/home.html" >
                    <div class="widget-icon">
                        <span class="km-icon km-mobile-light"></span>
                    </div>
                    <div class="widget-title">Mobile Apps</div>
                </a>
            </li>
            <li class="row-nav-large bg-red row-nav-large-bg-02">
                <a href="#views/home.html" class="">
                    <div class="widget-icon">
                        <span class="km-icon km-windows"></span>
                    </div>
                    <div class="widget-title">PC Apps</div>
                </a>
            </li>
            <li class="row-nav-large bg-green row-nav-large-bg-03">
                <a href="#views/home.html" class="">
                <div class="widget-icon">
                    <span class="km-icon km-sms-light"></span>
                </div>
                <div class="widget-title">International SMS</div>
            </a>
            </li>


            <li class="row-nav-large bg-blue row-nav-large-bg-04">
                <a href="#views/home.html" class="">
                <div class="widget-icon">
                    <span class="km-icon km-cart"></span>
                </div>
                <div class="widget-title">Mobile Recharge</div>
            </a>
            </li>
            <li class="row-nav-large bg-orange row-nav-large-bg-05">
                <a href="#views/home.html" class="">
                    <div class="widget-icon">
                        <span class="km-icon km-sms-light"></span>
                    </div>
                    <div class="widget-title">International SMS</div>
                </a>
            </li>
            <li class="row-nav-large bg-blue-dark row-nav-large-bg-06">
                <a href="#views/home.html" class="">
                    <div class="widget-icon">
                        <span class="km-icon km-cart"></span>
                    </div>
                    <div class="widget-title">Mobile Recharge</div>
                </a>
            </li>


            <li class="row-nav-large bg-red-dark row-nav-large-bg-07">
                <a href="#views/home.html" class="">
                    <div class="widget-icon">
                        <span class="km-icon km-cart"></span>
                    </div>
                    <div class="widget-title">Mobile Recharge</div>
                </a>
            </li>
            <li class="row-nav-large bg-orange-dark row-nav-large-bg-08">
                <a href="#views/home.html" class="">
                    <div class="widget-icon">
                        <span class="km-icon km-sms-light"></span>
                    </div>
                    <div class="widget-title">International SMS</div>
                </a>
            </li>
            <li class="row-nav-large bg-green-dark row-nav-large-bg-09">
                <a href="#views/home.html" class="">
                    <div class="widget-icon">
                        <span class="km-icon km-cart"></span>
                    </div>
                    <div class="widget-title">Mobile Recharge</div>
                </a>
            </li>
        </div>


    </ul>


</div>

<style>

    .my-container {
        position: relative;
        background: #5C97FF;
        overflow: hidden;
        font-weight:bold;
        height:117px;
    }
    /* You could use :after - it doesn't really matter */
    .my-container:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.6;
        background-image: url(images/lg/324.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }




    .hero {
        display: block;
        margin: 0;
        padding-left: .5em;
        height: 110px;
        line-height: 110px;
        font-size: 18px;
        color: rgba(255,255,255,.85);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
        background: url(images/header/5.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }

    .hero9 {
        display: block;
        margin: 0;
        padding-left: .5em;
        height: 110px;
        line-height: 110px;
        font-size: 18px;
        color: rgba(255,255,255,.85);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .2em;
        background: url(images/header/5.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }


    .row-nav-large-wrapper{
        display: block;
        overflow: hidden;
        margin: 0 auto;
    }

    .row-nav-large .widget-icon {
        width: 70px;
        /* height: 70px; */
        /* border: 2px solid #bbb; */
        /* border-radius: 50%; */
        /* line-height: 70px; */
        /* font-size: 25px; */
        text-align: center;
        margin: 0 auto;
    }

    .row-nav-large .widget-title {
        /*width: 70px;
        height: 70px;
        border: 1px solid;
        border-radius: 50%;
        line-height: 70px;*/
        font-size: .9em;
        color: #333;
        margin: 5px 0;
    }

    .row-nav-large .widget-text {
        font-size: .9em;
    }



    a.row-nav-large {
        width: 48%;
        /* height: 70px; */
        /* font-size: 15px; */
        text-align: center;
        display: inline-table;
        overflow: hidden;
        margin: 2px;
        text-decoration: none;
        /* color: #fff; */
        min-height: 310px;
        border: 1px solid #ddd;
        padding: 1em .6em;
        border-radius: 5px;
    }

    li.row-nav-large {
        width: 100%;
        /* height: 70px; */
        /* font-size: 15px; */
        font-weight:bold;
        text-align: center;
        display: inline-table;
        overflow: hidden;
        margin: 1px 0;
        text-decoration: none;
        /* color: #fff; */
        min-height: 91px;
        /* border: 1px solid #ddd; */
        /* padding: 1em .6em; */
        /* border-radius: 5px;
        background-color: #eee;*/

        position: relative;
        background: transparent;
        overflow: hidden;

    }

    li.row-nav-large:before{
        /*position: absolute;
        background: url(images/lg/324.jpg) no-repeat center center;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;*/

        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.5;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }


    .row-nav-large-bg-01{
        position: relative;
        background: #5C97FF;
        overflow: hidden;
    }
    .row-nav-large-bg-01:before{
        background-image: url(images/lg/324.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;
    }
    .row-nav-large-bg-02{
        /*background: url(images/lg/325.jpg) no-repeat center center;*/
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }
    .row-nav-large-bg-02:before{
        background: url(images/lg/325.jpg) no-repeat center center;;
        /*background-repeat: no-repeat;
        background-position: 50% 0;*/
    }
    .row-nav-large-bg-03{
        /*background: url(images/lg/326.jpg) no-repeat center center;*/
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }
    .row-nav-large-bg-03:before{
        background: url(images/lg/326.jpg) no-repeat center center;
        /*background-repeat: no-repeat;
        background-position: 50% 0;*/
    }
    .row-nav-large-bg-04{
        /*background: url(images/lg/327.jpg) no-repeat center center;*/
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }
    .row-nav-large-bg-04:before{
        background: url(images/lg/327.jpg) no-repeat center center;
        /*background-repeat: no-repeat;
        background-position: 50% 0;*/
    }
    .row-nav-large-bg-05{
        /*background: url(images/lg/328.jpg) no-repeat center center;*/
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }
    .row-nav-large-bg-05:before{
        background: url(images/lg/328.jpg) no-repeat center center;
        /*background-repeat: no-repeat;
        background-position: 50% 0;*/
    }
    .row-nav-large-bg-06{
        /*background: url(images/lg/329.jpg) no-repeat center center;*/
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }
    .row-nav-large-bg-06:before{
        /*background-image: url(images/lg/324.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;*/
        background: url(images/lg/329.jpg) no-repeat center center;
    }
    .row-nav-large-bg-07{
        /*background: url(images/lg/330.jpg) no-repeat center center;*/
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }
    .row-nav-large-bg-07:before{
        /*background-image: url(images/lg/324.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;*/
        background: url(images/lg/330.jpg) no-repeat center center;
    }
    .row-nav-large-bg-08{
        /*background: url(images/lg/331.jpg) no-repeat center center;*/
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }
    .row-nav-large-bg-08:before{
        /*background-image: url(images/lg/324.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;*/
        background: url(images/lg/331.jpg) no-repeat center center;
    }
    .row-nav-large-bg-09{
        /*background: url(images/lg/332.jpg) no-repeat center center;*/
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }
    .row-nav-large-bg-09:before{
        /*background-image: url(images/lg/324.jpg);
        background-repeat: no-repeat;
        background-position: 50% 0;*/
        background: url(images/lg/332.jpg) no-repeat center center;
    }

    li.row-nav-large a {
        width: 98%;
        height: 70px;
        /* font-size: 15px; */
        /* text-align: center; */
        /* display: inline-table; */
        /* overflow: hidden; */
        /* margin: 5px; */
        text-decoration: none;
        /* color: #fff; */
        /* min-height: 310px; */
        /* border: 1px solid #ddd; */
        padding: 1em .6em;
        /* border-radius: 5px; */
        /* background-color: #eee; */
        /* display: block; */
        line-height: 21px;
    }

    #apps-view #menu-items .km-icon {
        width: initial;
        height: 1em;
        font-size: 1em;
        margin-left: 0;
        margin-right: 0;
        vertical-align: baseline;
        display: inline-block;
        /* background-size: auto 100%; */
        color: #999;
        font-size: 2.5em;
    }





</style>